[% title = 'Search: Words for ' _ q %]

[% INCLUDE include/header.tt2 %]

<table>
    <tr>
        <th>word</th>
        <th>stem</th>
        <th>count</th>
    </tr>
    
    [% FOREACH word IN words %]
        <tr>
            <td>[% word.term | html %]</td>
            <td>[% word.stem | html %]</td>
            <td>[% word.count %]</td>
        </tr>
    [% END %]
    
</table>
            
[% INCLUDE include/footer.tt2 %]
