<html>
<title>Error</title>
<body>

<h2>Error</h2>

[% FOREACH error IN errors %]
    <p>[% error %]</p>
[% END %]

<p>
If you think this page should have worked, please <a href="mailto:info@mediacloud.org">let us know</a>.
</p>

</body>
</html>