[% INCLUDE 'public_ui/html_head.tt2' %]
<body>
<script language="javascript" type="text/javascript">
<!--

   $(document).ready(function() 
    {

        look_up_news();
    });

-->
</script>

[% # form.render() %]

[% INCLUDE 'public_ui/header.tt2' %]
<tr>
<td>
