# Don't send no email
MAILTO=""

# m h dom mon dow user          command
32  2 *   *   *   root          sudo -u mediacloud /opt/mediacloud/bin/cron_generate_media_health.pl 1> /proc/1/fd/1 2> /proc/1/fd/2
