#
# Media Cloud PostgreSQL configuration
#

work_mem = 256MB
maintenance_work_mem = 256MB

vacuum_cost_delay = 0
vacuum_cost_limit = 10000

hot_standby = on
hot_standby_feedback = on

random_page_cost = 1.0

log_line_prefix = '%t [%p-%l] %q%u@%d '
log_lock_waits = on

autovacuum_vacuum_cost_delay = -1
autovacuum_vacuum_cost_limit = -1

lc_messages = 'en_US.UTF-8'
lc_monetary = 'en_US.UTF-8'
lc_numeric = 'en_US.UTF-8'
lc_time = 'en_US.UTF-8'

default_text_search_config = 'pg_catalog.english'

max_connections = 610

shared_buffers = {{ ( ansible_memtotal_mb / 3 ) | round | int }}MB
temp_buffers = 128MB

effective_cache_size = {{ ( ansible_memtotal_mb / 3 ) | round | int }}MB

{% if ansible_distribution != 'MacOSX' %}

# doesn't work on OS X:
effective_io_concurrency = 20

{% endif %}

# Might be running a lot of extraction jobs
deadlock_timeout = 10s

synchronous_commit = off
