# Amazon S3
boto3==1.16.61

# HTML parsing and stripping
beautifulsoup4==4.9.3

# Job broker
# (Celery 5.x changed behaviour in how tasks get registered which would require
# mediawords/job/ to be rewritten from the ground up so we're not going that
# far here)
Celery==4.4.7

# Detect encodings of web responses
chardet==4.0.0

# Language identification
cld2-cffi==0.1.4

# Colorful sentence diffs in unit tests
colorama==0.4.4

# Some modules require latest version of this
cryptography==3.3.2

# Hindi stemming
CyHunspell==2.0.1

# Guessing publication dates of stories
date_guesser==2.1.4

# Parsing RSS / Atom feeds
feedparser==6.0.2

# Stemming Hausa words
hausastemmer==1.0

# Code conventions
flake8==3.8.4

# URL manipulation
furl==2.1.0

# Chinese language tokenizer, stemmer, etc.
jieba==0.42.1

# Parsing email templates
Jinja2==2.11.3

# One of Celery's dependencies (here just for PyCharm to stop complaining)
# Upgrade together with Celery and not separately.
kombu==4.6.11

# XML manipulations, HTML parsing
lxml==4.6.3

# Japanese language tokenizer, stemmer, etc.
mecab-python3==1.0.3

# Natural language processing, e.g. tokenization
nltk==3.5

# PostgreSQL access
psycopg2-binary==2.8.6

# Process information
psutil==5.8.0

# Snowball stemmer (NLTK's implementation doesn't support Turkish)
PyStemmer==2.0.1

# Unit tests
pytest==6.2.2

# Timezone handling
pytz==2020.5

# Date parsing
python-dateutil==2.8.1

# Making HTTP requests
requests==2.25.1

# Asynchronous (parallell / concurrent) HTTP requests
requests-futures==1.0.0

# Splitting text into sentences using Lingua::Sentence's method
sentence_splitter==1.4

# Celery PostgreSQL result backend support
sqlalchemy==1.3.22

# Temporal's Python SDK
git+https://github.com/firdaus/temporal-python-sdk.git@8604d025ae1272b592d3d4dd430acd15eeb6562a#egg=temporal-python-sdk

# Normalizing URLs
url_normalize==1.4.3

# Low level HTTP requests (with SSL certificate verification)
urllib3[secure]==1.26.4
