# Network analysis, used for graph layout
networkx==2.2

# Numerical processing, required by ForceAtlas2
numpy==1.19.4

# Correct word boundary matching for UTF-8:
# https://stackoverflow.com/questions/12746458/python-unicode-regular-expression-matching-failing-with-some-unicode-characters
regex==2020.2.20

# Math package for forceatlas implementation
scipy==1.5.4
