[% INCLUDE include/header.tt2 %]

<p>Story Url</p>  
<fieldset>
    <p><a target="_blank" href="[% story.url | html%]">[% story.url | html %]</a>
</fieldset>

<br />

<fieldset>

[% form.render %]

</fieldset>


[% INCLUDE include/footer.tt2 %]
