data.old
matrix
mediawords.yml
mediawords-*.yml
mediacloud.tmproj
jons_stuff
.carton
local
cache/translate

# Perl::Tidy backup files
*.pl.bak
*.pm.bak
*.t.bak

# Python bytecode files
*.py[cod]

# OS X
.DS_Store

# Inline::Java
_Inline/

# Vagrant and test suite temporary files
.vagrant
script/vagrant/vagrant_test_suite.lock
script/vagrant/temp-vagrant-mediacloud
