[submodule "lib/MediaWords/Languages/resources/hi/hindi-hunspell"]
	path = lib/MediaWords/Languages/resources/hi/hindi-hunspell
	url = https://github.com/Shreeshrii/hindi-hunspell.git
[submodule "root/script/non-free/amcharts3"]
	path = root/script/non-free/amcharts3
	url = https://github.com/amcharts/amcharts3.git
[submodule "root/include/libs/handsontable"]
	path = root/include/libs/handsontable
	url = https://github.com/handsontable/handsontable.git
[submodule "root/include/libs/tag-it"]
	path = root/include/libs/tag-it
	url = https://github.com/aehlke/tag-it.git
[submodule "doc/github-markdown-toc"]
	path = doc/api_2_0_spec/github-markdown-toc
	url = https://github.com/ekalinin/github-markdown-toc.git
[submodule "lib/MediaWords/Languages/resources/ja/mecab-ipadic-neologd-dist"]
	path = lib/MediaWords/Languages/resources/ja/mecab-ipadic-neologd-dist
	url = https://github.com/berkmancenter/mediacloud-mecab-ipadic-neologd.git
[submodule "lib/MediaWords/Util/Mail/Message/Templates/email-templates"]
	path = lib/MediaWords/Util/Mail/Message/Templates/email-templates
	url = https://github.com/berkmancenter/mediacloud-email-templates.git
