data.old
matrix
mediawords.yml
mediawords-*.yml
mediacloud.tmproj
jons_stuff
.carton
local
cache/translate

# Python bytecode files
*.py[cod]

# Vim backup files
*.swp

# OS X
.DS_Store

# Inline::Java
_Inline/

# Vagrant and test suite temporary files
.vagrant
script/vagrant/vagrant_test_suite.lock
script/vagrant/temp-vagrant-mediacloud
