data.old
matrix
mediawords.yml
mediawords-*.yml
mediacloud.tmproj
jons_stuff
.carton
local
cache/translate

# Perl::Tidy backup files
*.pl.bak
*.pm.bak
*.t.bak

# Python bytecode files
*.py[cod]

# Vim backup files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# OS X
.DS_Store

# Inline::Java
_Inline/

# Devel::NYTProf output
nytprof*

# Data dumps
root/include/data_dumps

# Vagrant and test suite temporary files
.vagrant
script/vagrant/vagrant_test_suite.lock
script/vagrant/temp-vagrant-mediacloud
