

### CONTAINERS -- removed; Docker Composer + Swarm acts as a process (container) manager
supervisor_solr:

    cluster:

        shards:

            # CONTAINERS -- "solr-shard" configuration parameter
            cluster_shard_count: 2

            # CONTAINERS -- "solr-shard" configuration parameter (as a container memory limit)
            jvm_heap_size: "256m"






similarweb:

    ### CONTAINERS -- "similarweb-update-audience-data" configuration parameter
    api_key: ""










cliff:

    ### CONTAINERS -- "cliff-fetch-annotation" configuration parameter
    annotator_url: ""













cliff:

    ### CONTAINERS -- "cliff-update-story-tags" configuration parameter
    cliff_version_tag: "cliff_clavin_v2.4.1"

    ### CONTAINERS -- "cliff-update-story-tags" configuration parameter
    cliff_geonames_tag_set: "cliff_geonames"

    ### CONTAINERS -- "cliff-update-story-tags" configuration parameter
    cliff_organizations_tag_set: "cliff_organizations"

    ### CONTAINERS -- "cliff-update-story-tags" configuration parameter
    cliff_people_tag_set: "cliff_people"






nytlabels:

    ### CONTAINERS -- "nytlabels-fetch-annotation" configuration parameter
    annotator_url: ""







nytlabels:

    ### CONTAINERS -- "nytlabels-update-story-tags" configuration parameter
    nytlabels_version_tag: "nyt_labeller_v1.0.0"

    ### CONTAINERS -- "nytlabels-update-story-tags" configuration parameter
    nytlabels_labels_tag_set: "nyt_labels"







facebook:

    ## CONTAINERS -- "facebook-fetch-story-stats" configuration parameter
    app_id: ""

    ## CONTAINERS -- "facebook-fetch-story-stats" configuration parameter
    app_secret: ""

    ## CONTAINERS -- "facebook-fetch-story-stats" configuration parameter
    #timeout: 60






twitter:

    ## CONTAINERS -- "topic-mine" configuration parameter
    consumer_key: ""

    ## CONTAINERS -- "topic-mine" configuration parameter
    consumer_secret: ""

    ## CONTAINERS -- "topic-mine" configuration parameter
    access_token: ""

    ## CONTAINERS -- "topic-mine" configuration parameter
    access_token_secret: ""





crimson_hexagon:

    ## CONTAINERS -- "topic-mine" configuration parameter
    key: ""

mediawords:

    # CONTAINERS -- "topic-mine" configuration parameter (array!)
    # topic_alert_emails:
    #     - topicupdates@mediacloud.org
    #     - slackupdates@mediacloud.org







#univision:
    
    ## CONTAINERS -- "crawler" configuration parameter
    #client_id: 83db02e1cba58c43d01116c50014913b47fa473b

    ## CONTAINERS -- "crawler" configuration parameter
    #client_secret: 7187037755de2dd77451f491d46b103b86fbcf79





#session:

    # CONTAINERS -- "webapp" configuration parameter (maybe)
    #expires: 3600

    # CONTAINERS -- "webapp" configuration parameter (maybe)
    #storage: "~/tmp/mediawords-session"

# CONTAINERS -- "webapp" configuration parameter (maybe)
#google_analytics:
#      account: "<ACOUNT>"
#      domainname: "<DOMAIN>"

mediawords:

    # CONTAINERS -- "webapp" configuration parameter (maybe; try to get rid of it in uri_for())
    #base_url: "http://your.mediacloud.server/and/path"

    ### CONTAINERS -- "webapp" configuration parameter
    always_show_stack_traces: false

    ### CONTAINERS -- "webapp" configuration parameter
    recaptcha_public_key: "6LfEVt0SAAAAAFwQI0pOZ1bTHgDTpQcMeQY6VLd_"

    ### CONTAINERS -- "webapp" configuration parameter
    recaptcha_private_key: "6LfEVt0SAAAAABmI-8IJmx4g93eNcSeyeCxvLMs2"

    ### CONTAINERS -- "webapp" configuration parameter
    default_home_page: "admin/media/list"







mediawords:

    ### CONTAINERS -- "import-solr-data" configuration parameter
    solr_import:
        # Stories to import into Solr on a single run
        max_queued_stories: 100000

















# CONTAINERS -- hardcoded; probably used by the webapp
name: MediaWords

### CONTAINERS -- removed; Docker Composer + Swarm acts as a process (container) manager
supervisor_solr:

    cluster:

        shards:

            local_shard_count: 2


cliff:

    ### CONTAINERS -- removed
    enabled: false

nytlabels:

    ### CONTAINERS -- removed
    enabled: false

facebook:

    ### CONTAINERS -- removed
    enabled: false



mediawords:

    # CONTAINERS -- hardcoded; Solr always accessible at the same host
    solr_url:

        # Solr shards
        #- http://127.0.0.1:7981/solr
        #- http://127.0.0.1:7982/solr
        #- http://127.0.0.1:7983/solr
        #- http://127.0.0.1:7984/solr
        #- http://127.0.0.1:7985/solr
        #- http://127.0.0.1:7986/solr
        #- http://127.0.0.1:7987/solr
        #- http://127.0.0.1:7988/solr
