[% title = 'Compare to words ' _ query_a.description %]
[% INCLUDE include/header.tt2 %]

<fieldset>

<p>
Describe the query you want to compare to the words [% query_a.description %].
</p>

[% form.render %]

</fieldset>

[% INCLUDE include/footer.tt2 %]