.select { margin: 0px; }

body {
bgcolor : #999999;
background= 'images/backstripes.gif';
padding-top : 0; 
padding-right : 0; 
padding-bottom : 0; 
padding-left : 0; 
border-top-width : 0; 
border-right-width : 0; 
border-bottom-width : 0px; 
border-left-width : 0; 
margin : 0; 
}


#queries a{
	color: inherit;
}

a.navigation:visited
{
    color:#999; font-weight:bold; text-decoration:none;
}

#query_results_content_table {
    background-color: #DFF0FF
}

#CMcontentarea {
    background-color: #DFF0FF
}