<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   [% INCLUDE 'public_ui/third_party_libs.tt2' %]

    <script type="text/javascript" src="/script/protovis-r3.2.js"></script>
    <script type="text/javascript" src="/script/jquery.tipsy.js"></script>
    <script type="text/javascript" src="/script/tipsy.js"></script>

    <!-- Sorting tables -->
    <script type="text/javascript" src="/script/jquery.metadata.js"></script>
    <script type="text/javascript" src="/script/jquery.tablesorter.min.js"></script>
    
    <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script> -->
    
    <title>
      Media Words: [% title | html %]
    </title>

    <!-- <style type="text/css" media="all">
/*<![CDATA[*/
    @import "[% c.uri_for('/include/style.css') %]";
    /*]]>*/
    </style>
    <style type="text/css" media="all">
/*<![CDATA[*/
    @import "[% c.uri_for('/include/vertically-aligned.css') %]";
    /*]]>*/
    </style>
    <style type="text/css" media="all">
/*<![CDATA[*/
    @import "[% c.uri_for('/include/clusterstyle.css') %]";
    /*]]>*/
    </style> -->
    
    
    <link href="[% c.uri_for('/include/style.css') %]" rel="stylesheet" type="text/css" />
    <link href="[% c.uri_for('/include/vertically-aligned.css') %]" rel="stylesheet" type="text/css" />
    <link href="[% c.uri_for('/include/clusterstyle.css') %]" rel="stylesheet" type="text/css" />
    <link href="[% c.uri_for('/include/tipsy.css') %]" rel="stylesheet" type="text/css" />
    <link href="[% c.uri_for( '/include/word_cloud.css' ) %]" rel="stylesheet" type="text/css" />

    <script src="[% c.uri_for('/include/libs/handsontable-0.13.0/dist/handsontable.full.js') %]"></script>  
    <link rel="stylesheet" media="screen" href="[% c.uri_for('/include/libs/handsontable-0.13.0/dist/handsontable.full.css') %]">

    <!--[if IE]>
  <style type="text/css" media="all">
    @import "[% c.uri_for('/include/vertically-aligned-ie.css') %]";
  </style>
<![endif]-->

  </head>
  <body>
      [% IF c.user %]

        <div id="user">
            Logged in as <code>[% c.user.username | html %]</code>.<br />
            <a href="[% c.uri_for('/logout') %]">Logout</a> | <a href="[% c.uri_for('/admin/profile') %]">Profile</a>
        </div>
        <div id="menu">
            [% IF c.acl_user_can_visit('/admin/cm/list') %]
                <a href="[% c.uri_for('/admin/cm/list') %]">CM</a>
            [% END -%]
            [% IF c.acl_user_can_visit('/search') %]
                <a href="[% c.uri_for('/search') %]">Search Stories</a>
            [% END -%]
            [% IF c.acl_user_can_visit('/admin/media/list') %]
                <a href="[% c.uri_for('/admin/media/list') %]">Search Media</a>
            [% END -%]
            [% IF c.acl_user_can_visit('/admin/media/create_batch') %]
                <a href="[% c.uri_for('/admin/media/create_batch') %]">Add Media</a>
            [% END -%]
            [% IF c.acl_user_can_visit('/admin/health') %]
                <a href="[% c.uri_for('/admin/health') %]">Media Health</a>
            [% END -%]
            [% IF c.acl_user_can_visit('/admin/media/moderate') %]
                <a href="[% c.uri_for('/admin/media/moderate_tags') %]">Moderate Media</a>
            [% END -%]
            [% IF c.acl_user_can_visit('/admin/users/list') %]
                <a href="[% c.uri_for('/admin/users/list') %]">Users</a>
            [% END -%]
    </div>
    [% IF submenu_items -%]
        <div id="submenu">
                --
                [% FOREACH item IN submenu_items -%]
                    [% IF c.acl_user_can_visit(item.0) %]
                        <a href="[% c.uri_for(item.0) _ '/' _ item.1 _ '?' _ item.2 %]">[% item.3 %]</a>
                    [% END -%]
                [% END #[% FOREACH i IN submenu_items -%]
        </div>
    [% END #[% IF menu_items -%]

    [% END #[% IF c.user -%]
    
    <h1>[% title | html %]</h1>
    
    [% IF breadcrumbs %]
        <div id="breadcrumbs">[% breadcrumbs %]</div>
    [% END %]

    
    [% IF status_msg || c.request.params.status_msg -%] 
        [% SET msgs = status_msg || c.request.params.status_msg -%] 
        [% SET msg_list = msgs.split("\n") -%]
        <div id="status">
            [% FOREACH msg IN msg_list -%] [% msg | html %]<br />[% END %]
        </div>
    [% END %]
      
    [% IF error_msg || c.request.params.error_msg -%] 
        [% SET msgs = error_msg || c.request.params.error_msg -%] 
        [% SET msg_list = msgs.split("\n") -%]
        <div id="error">
            [% FOREACH msg IN msg_list -%] [% msg | html %]<br />[% END %]
        </div>
    [% END %]
    


