<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="[% c.uri_for( '/script/protovis-r3.2.js' ) %]"></script>
    <script type="text/javascript" src="[% c.uri_for( '/script/jquery-1.4.2.min.js' ) %]"></script>
    <script type="text/javascript" src="[% c.uri_for( '/script/jquery.tipsy.js' ) %]"></script>
    <script type="text/javascript" src="[% c.uri_for( '/script/tipsy.js' ) %]"></script>
    
    <title>
      Media Words: [% title | html %]
    </title>

    <link href="[% c.uri_for('/include/style.css') %]" rel="stylesheet" type="text/css" />
    <link href="[% c.uri_for('/include/vertically-aligned.css') %]" rel="stylesheet" type="text/css" />
    <link href="[% c.uri_for('/include/clusterstyle.css') %]" rel="stylesheet" type="text/css" />
    <link href="[% c.uri_for('/include/tipsy.css') %]" rel="stylesheet" type="text/css" />
    <link href="[% c.uri_for( '/include/word_cloud.css' ) %]" rel="stylesheet" type="text/css" />
    
    <!--[if IE]>
  <style type="text/css" media="all">
    @import "[% c.uri_for('/include/vertically-aligned-ie.css') %]";
  </style>
<![endif]-->
  </head>
  <body>
    <h1>
      [% title | html %]
    </h1>
    <p>
      [% IF status_msg || c.request.params.status_msg -%] [% SET msgs = status_msg || c.request.params.status_msg -%] [% SET msg_list = msgs.split("\n") -%]
    </p>
    <div id="status">
      [% FOREACH msg IN msg_list -%] [% msg | html %]<br />
      [% END #[% FOREACH msg IN msg_list -%]
    </div>
    <p>
      [% END #[% IF status_msg || c.request.params.status_msg -%] [% IF error_msg || c.request.params.error_msg -%] [% SET msgs = error_msg || c.request.params.error_msg -%] [% SET msg_list = msgs.split("\n") -%]
    </p>
    <div id="error">
      [% FOREACH msg IN msg_list -%] [% msg | html %]<br />
      [% END #[% FOREACH msg IN msg_list -%]
    </div>
    <p>[% END #[% IF error_msg || c.request.params.error_msg -%]</p>

