@charset "utf-8";
/* CSS Document */

body {
	
	background: #666;
	background-image:url(images/backstripes.gif);
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

a {color:#f17e0d;}
a:hover {color:#c7680b; text-decoration:none }  /* mouse over link */


div.dotcontainer, #dotcontainerWide{
 width: 100%;
 height: 2px;  
 margin:0 auto;
 float: left; 
 background: url(images/dots.gif) top left repeat; 
}

#dotcontainerWide {
	height: 18px; 
}

#mediacontainer1, #mediacontainer2, #submissioncontainer {  
 background-repeat: repeat-y; 
 width: 100%;  
 margin:0px;
 padding:0px;
 float: left; 
 background: url(images/containerback.gif) top left repeat-y; 
 border-style:solid;
 border-width: 0px;
 border-bottom-width: 1px;
 border-right-width: 1px;
 border-left-width: 1px;
 border-color:#5fa9ee;
}

#submissioncontainer {
	background: #f6fafe;
}

#mediaheader1, #mediaheader2 {
	padding: 0px;
	width: 100%;
	float: right;
	background-color: #5fa9ee;
	color: #FFF;
	font-weight:bold;
}

#mediaTime1,  
#mediaArea1,
#mediaSource1, 
#mediaSubset1
 {
  padding: 10px; 
  float: left;
  width: 160px;
  color: #4092de;
 }
 
#mediaSource1 {width: 320px}
 
#compare, #submit {
	float: right;
	width: 200px;
	text-align:center;
	padding: 0px;
	padding-top: 7px;
	padding-bottom: 7px;
	background-color:#5fa9ee;
	border-style:solid;
	border-top-width: 1px;
 	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 1px;
	font-weight:bold;
	border-color:#fff;
	color:#fff;
}

 
#wordcloud,
#coveragemap  
 { 
  margin: 1px;
  float: left;
  width: 90px;
  border-style:solid;
  border-width:1px;
  border-color:#FFF;
  position: relative; 
  bottom: 4px;
  text-align:center;
  z-index:1;
 }
 
 
 #textSources,
#Subsets  
 { padding: 2px; 
  font-weight: bold;
  float: left;
  width: 150px;
  border-style:solid;
  border-width:1px;
  position: relative; 
  bottom: -10px;
  left: 10px;
  text-align:center;
  z-index:1;
 }
 
#WCcontentarea, #CMcontentarea {
	padding: 4px; 
	border-style:solid;
	border-width:0px;
	width: 99%;
	border-color: #000000;
}
 
#TSarea, #ASarea {
	padding: 5px; 
	border-style:solid;
	border-width:1px;
	width: 99%;
	border-color: #999;
	float:left;
}

.contentSelected {	
	color: #5fa9ee;
	background-color: #dff0ff;
	border-color: #fff;
}

.contentUnselected {	

	color: #dff0ff;
	background-color: #5fa9ee;
	border-color: #fff;
}

.secondarySelected {	
	color: #999;
	background-color: #ffffff;
	border-color: #999999;
	border-bottom-color: #ffffff; 
}

.secondaryUnselected {	

	color: #fff;
	background-color: #999999;
	border-color: #999999;
}


#news,
#popular,
#report {
	
	border-width: 0px;
	color:#999;
	margin-right: 15px; 
	padding-top: 5px;
	float: left;
    width: 270px
}

#bottomContainer{
 background-repeat: repeat-y; 
 width: 100%;  
 float: left; 
 background: url(images/verticaldots.gif) top left repeat-y; 
 border-width: 0px;
margin:0px; 
margin-bottom:0px;
}

.smaller {
	font-size: 10px;
}

a.navigation:link {color:#999; font-weight:bold; text-decoration:none}      /* unvisited link */
a.navigation:hover {color:#000; font-weight:bold; text-decoration:none }  /* mouse over link */

#leftContainer {
	width: 300px;
	float:left;
}

#rightContainer {
	padding: 10px;
}

#tabledata {
	color: #FFF;
	font-size:10px;
	padding:5px;
	
}

#queries {
	color: #FFF;
	font-size:12px;
	padding:5px;
}

ul.querylist
{
   list-style-type: circle;
}

a.query:link {
	color:#fff; 
	text-decoration:underline;
	}  
	
#copyright {
	font-family: "Times New Roman", Times, serif;
	font-size:11px;
	padding: 10px;
	text-align:center;
	color:#fff;
}