@charset "utf-8";
/* CSS Document */

body {
	
	background: #666;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}



#mediacontainer1, #mediacontainer2 {  
 background-repeat: repeat-y; 
 width: 100%;  
 margin:0 auto;
 float: left; 
 background: url(images/example-2.gif) top left repeat-y; 
 border-style:solid;
 border-width: 0px;
 border-bottom-width: 1px;
 border-right-width: 1px;
  border-left-width: 1px;
}

#mediaheader1, #mediaheader2 {
	padding: 1px;
	width: 100%;
	float: right;
	background-color: #999;
	color: #FFF;
	font-weight:bold;
}

#mediaTime1,  
#mediaTime2,  
#mediaArea1,
#mediaArea2,
#mediaSource1, 
#mediaSource2, 
#mediaSubset1,
#mediaSubset2
 {
  padding: 10px; 
  float: left;
  width: 160px
 }
 
#mediaSource1, #mediaSource2 {width: 320px}
 
#compare, #submit {
	float: right;
	width: 200px;
	text-align:center;
	padding: 0px;
	padding-top: 7px;
	padding-bottom: 7px;
	margin: 0 0 0 0;
	background-color:#CCC;
	border-style:solid;
	border-top-width: 0px;
 	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	font-weight:bold;
	border-color:#000;
	color:#63C;
}

 
#wordcloud,
#coveragemap  
 { padding: 1px;
  float: right;
  width: 80px;
  border-style:solid;
  border-width:1px;
  position: relative; 
  bottom: 4px;
  text-align:center;
  z-index:1;
 }
 
 
 #textSources,
#Subsets  
 { padding: 2px; 
  font-weight: bold;
  float: left;
  width: 150px;
  border-style:solid;
  border-width:1px;
  position: relative; 
  bottom: -10px;
  left: 10px;
  text-align:center;
  z-index:1;
 }
 
#WCcontentarea, #CMcontentarea {
	padding: 4px; 
	border-style:solid;
	border-width:1px;
	width: 99%;
	border-color: #000000;
}
 
#TSarea, #ASarea {
	padding: 5px; 
	border-style:solid;
	border-width:1px;
	width: 99%;
	border-color: #999;
	float:left;
}

.contentSelected {	
	color: #fff;
	background-color: black;
	border-color: #000000;
}

.contentUnselected {	

	color: #000000;
	background-color: #CCC;
	border-color: #000000;
}

.secondarySelected {	
	color: #999;
	background-color: #ffffff;
	border-color: #999999;
	border-bottom-color: #ffffff; 
}

.secondaryUnselected {	

	color: #fff;
	background-color: #999999;
	border-color: #999999;
}


#news,
#popular,
#report {
	border-style:dotted;
	border-width: 0px;
	border-bottom-width: 1px;
	margin-bottom: 5px; 
	padding-bottom: 5px;
}

#leftcolumn {
	border-style:dotted;
	border-width: 1px;
	padding: 7px;
		
}

.Header {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 36px;
	font-weight: bold;
	text-transform: capitalize;
	color: #FFF;
}

.smaller {
	font-size: 10px;
}

a.navigation:link {color:#FC9; font-weight:bold; text-decoration:none}      /* unvisited link */
a.navigation:hover {color:#F36; font-weight:bold; text-decoration:none }  /* mouse over link */

#leftContainer {
	width: 300px;
	float:left;
}

#rightContainer {
	padding: 10px;
}

.select { margin: 0px; }