body {
    font-color: red;
    font-family: verdana, helvetica, arial;
    font-size: 80%;    
}

table {
    background: #f4f4f4;
    border-collapse: collapse;
    width: 100%;
    padding-bottom: 5px;
}

table th, table td {
    border: 1px silver solid;
    padding: 0.2em;
}

table tr.even {
    background: #fcfcfc;
}

table th {
    background: #eeeeee;
    white-space: nowrap;    
}

h1 {
    font-size: 120%;
    font-style: bold;
    color: #2790B0;
}

h2 {
    font-size: 110%;
    font-style: bold;
    color: #2790B0;
}

h3 {
    font-size: 100%;
    font-style: bold;
    color: #2790B0;
}

a {
    color: #2B4E72;
}

img {
    margin: 20px;
}

abbr {
    border-bottom: 1px dotted;
}

/* new clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix {
    /* IE6 */
    zoom: 1;
}

*:first-child+html .clearfix {
    /* IE7 */
    zoom: 1;
}

div#menu a {
    font-weight: bold;
    list-style-type: none;
    display: inline;
    padding-right: 1em;
    margin-left: 0em;
    font-size: smaller;    
    white-space: nowrap;
    text-decoration: none;
}

div#submenu a {
    font-weight: bold;
    list-style-type: none;
    display: inline;
    padding-right: 1em;
    margin-left: 0em;
    font-size: smaller;    
    white-space: nowrap;
    text-decoration: none;
}

div#breadcrumbs {
    display: inline;
    padding-right: 1em;
    margin-left: 0em;
    white-space: nowrap;
    border: 0px;
    background-color: #FFFFFF;
    color: #94BA65;
    clear: both;
}

div#breadcrumbs a {
    color: #94BA65;
    text-decoration: none;
}

div#story_parse_test {
    margin: 0em;
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid silver;
}

div#story_parse_test_broken {
    margin: 0em;
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid silver;
    background-color: #dddddd;
}

blockquote {
    padding: 1em;
    background-color: #dddddd;
}

div#warning_box {
    margin-bottom: 1em;
    border: 1px solid silver;
    padding: 1em;
    background-color: #dddddd;
    margin-top: 20px;
}

fieldset#tag_set .checkbox {
    float: left;
    width: 80em;
    display: inline;
}

fieldset#tag_set .text {
    clear: left;
    width: 30em;
}

fieldset#edit_tags {
    padding-top: 0;
}

fieldset#edit_tags .submit {
    margin-top: 1em;
}

div#status {
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid silver;
    padding: 1em;    
}

div#error {
    font-weight: bold;
    color: red;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid red;
    padding: 1em;    
}

#navigation {
    font-size: 14px;
    color: #333333;
    background-color: #F9F9F9;
    width: 30%;
    height: 500px;
    margin: 0;
    border: 1px solid silver;
    font-weight: normal;
}

#centerDoc {
    font-size: 14px;
    color: #333333;
    background-color: #F9F9F9;
    position: relative;
    float: left;
    width : 68%;
    height : 500px;
    margin-left: 10px ;
    border: 1px solid silver;
}

/* Login form or change password form */
fieldset.formNameValue {
}

/* jQuery form validation errors */
fieldset.formNameValue label.error {
    width: 10em !important;
    float: none !important;
    color: red;
    padding-left: .5em;
    vertical-align: top;
    clear: none !important;
}

/* User panel (top right) */
div#user {
    border: 1px solid silver;
    position: absolute;
    top: 8px;
    right: 8px;
    text-align: right;
    font-size: smaller;
}

div#user a {
    font-size: smaller;
    font-weight: bold;
    text-decoration: none;
}

/* Checkboxgroup options */
fieldset.checkboxgroup span {
    display: block;
    clear: both;
}

/* User table */
table#users ul.user_actions li {
    margin-bottom: 1em;
}

/* Delete action */
table#users ul.user_actions li.user_action_delete a {
    color: #a00;
}

/* sortable tables */
table.tablesorter thead tr .header {
    background-image: url(/script/jquery.tablesorter-themes/blue/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    padding-right: 25px;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url(/script/jquery.tablesorter-themes/blue/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(/script/jquery.tablesorter-themes/blue/desc.gif);
}

div#halfcolumn {
    padding-right: 5px;
    width: 49%; 
    float: left;
}

div#narrowcolumn {
    padding-right: 5px;
    width: 20%; 
    float: left;
}

div#widecolumn {
    padding-right: 5px;
    width: 79%; 
    float: left;
}

div#wholecolumn {
    padding-top: 5px;
    width: 100%; 
    clear: both;
}

div.boxtitle {
    padding-top: 20px;
    margin-bottom: 5px;
    height: auto;
}

a#boxcommand {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 1px;
  background-color: #ffffff;
  border: 1px solid silver;
  color: #2B4E72;
  float: right;
  text-decoration:none;
}

a#command {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
  margin-left: 1px;
  background-color: #ffffff;
  border: 1px solid silver;
  color: #2B4E72;
  text-decoration:none;
}

.ui-dialog-titlebar { 
    display:none; 
}

#unreliable_story_date {
    background: #BA6569;
}

/* "Latest CM activites" box */
table.cm_latest_activities {
    /* Required for word-wrap to work properly */
    table-layout: fixed;
}

table.cm_latest_activities td {
    /* Activity names might get lengthy */
    word-wrap: break-word;
}

/* Force word wrap on cells that might contain long content */
.force-word-wrap {
    word-wrap: break-word;
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP printers */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: pre-wrap;  /* CSS 2.1 */
    white-space: pre-line;  /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word;  /* IE */
    word-break: break-all;
}

/* Gearman job log in /gearman/view_log */
pre.gearman_job_log {
    height: auto;
    overflow: auto;
    background-color: #eeeeee;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
}
