xA:link {color: #000000; }
xA:visited {color: #000000; }
xA:active {color: #000000; }

#htmltagcloud {
  text-align:  center; 
  line-height: 1; 
}
#htmltagcloud a { color: #32588F; text-decoration: none;}
span.tagcloud0 { font-size: 12px;}
span.tagcloud1 { font-size: 13px;}
span.tagcloud2 { font-size: 14px;}
span.tagcloud3 { font-size: 15px;}
span.tagcloud4 { font-size: 16px;}
span.tagcloud5 { font-size: 17px;}
span.tagcloud6 { font-size: 18px;}
span.tagcloud7 { font-size: 19px;}
span.tagcloud8 { font-size: 20px;}
span.tagcloud9 { font-size: 21px;}
span.tagcloud10 { font-size: 22px;}
span.tagcloud11 { font-size: 23px;}
span.tagcloud12 { font-size: 24px;}
span.tagcloud13 { font-size: 25px;}
span.tagcloud14 { font-size: 26px;}
span.tagcloud15 { font-size: 27px;}
span.tagcloud16 { font-size: 28px;}
span.tagcloud17 { font-size: 29px;}
span.tagcloud18 { font-size: 30px;}
span.tagcloud19 { font-size: 31px;}
span.tagcloud20 { font-size: 32px;}
span.tagcloud21 { font-size: 33px;}
span.tagcloud22 { font-size: 34px;}
span.tagcloud23 { font-size: 35px;}
span.tagcloud24 { font-size: 36px;}

#query_label_1 { color: #0000FF; font-size: 14pt; font-weight: bold }
#query_label_2 { color: #FF0000; font-size: 14pt; font-weight: bold }

#htmltagcloud a.word_cloud_list2 {
    color: red;
} 

#htmltagcloud a.word_cloud_list1 {
    color: blue;
} 

#htmltagcloud a.word_cloud_both_lists {
    color: purple;
} 


