#
# Python module requirements
# ---
#
# 1. Keep the list in alphabetical order
# 2. Write a short description for how this module is being used
#

# Unit test coverage
coverage

# LDA models
gensim

# To eliminate the 'module' object has no attribute 'plugin' problem
# while importing gensim
google-compute-engine

# Stemming Hausa words
hausastemmer

# Chinese language tokenizer, stemmer, etc.
jieba

# Parsing email templates
Jinja2

# LDA models
lda

# Japanese language tokenizer, stemmer, etc.
mecab-python3

# network analysis, used for graph layout
networkx

# Natural language processing, e.g. tokenization
nltk

# Unit tests
nose

# numerical processing, required by ForceAtlas2
numpy

# Finding out which Readability version we're using
pip

# PostgreSQL
psycopg2

# Configuration file
pyyaml

# Date parsing
python-dateutil

# Extracting text from stories
readability-lxml==0.6.2

# Making HTTP requests
requests

# To apply non-negative matrix factorization
scikit-learn

# math package for forceatlas implementation
scipy

# Lemmatization requires WordNet, the simplest way to install is running:
# python3.5 -m textblob.download_corpora with:
textblob
# Or manually select items from nltk.download()

# Normalizing URLs
url_normalize

