#
# Python module requirements
# ---
#
# 1. Keep the list in alphabetical order
# 2. Write a short description for how this module is being used
#

# Unit test coverage
coverage

# Stemming Hausa words
hausastemmer

# Parsing email templates
Jinja2

# Japanese language tokenizer, stemmer, etc.
mecab-python3

# network analysis, used for graph layout
networkx

# Natural language processing, e.g. tokenization
nltk

# Unit tests
nose

# numerical processing, required by ForceAtlas2
numpy

# Finding out which Readability version we're using
pip

# PostgreSQL
psycopg2

# Configuration file
pyyaml

# Date parsing
python-dateutil

# Extracting text from stories
readability-lxml==0.6.2

# Making HTTP requests
requests

# math package for forceatlas implementation
scipy

# Normalizing URLs
url_normalize
