# Unit tests
nose

# Configuration file
pyyaml

# Date parsing
python-dateutil

# Extracting text from stories
readability-lxml==0.6.2

# Normalizing URLs
url_normalize

# Binding code between Perl and Python Readability
thrift
