[% title = 'List Media Sources ' _ query.description %]
[% INCLUDE include/header.tt2 %]

<fieldset>

<p><a href="[% c.uri_for( '/queries/view/' _ query.queries_id ) %]">back to parent query</a></p>

<ul>

[% FOREACH medium IN media %]

<li><a href="[% c.uri_for( '/queries/view/' _ medium.query.queries_id ) %]">[% medium.name | html %]</a></li>

[% END #FOREACH medium IN media %]

</ul>

</fieldset>

[% INCLUDE include/footer.tt2 %]

