[% title = 'Add Media' %]
[% INCLUDE include/header.tt2 %]

<fieldset>

<form action="[% c.uri_for('/media/create_do') %]" method="post">

<p>Enter up to ten media source urls, one per line (eg. http://dailykos.com):</p>

<textarea name="urls" rows="10" cols="80"></textarea>

<p>
<input type="submit" value="Add Media" />
</p>

</form> 

</fieldset>
  

 
[% INCLUDE include/footer.tt2 %]
