[% title = 'Delete Media Source Confirmation' %]
[% INCLUDE include/header.tt2 %]

<fieldset>
<p>
Are you sure you want to delete the '[% medium.name | html %]' media source?
</p>

<form action="[% c.uri_for('/media/delete/') _ medium.media_id _ '/' _ 'yes' %]">
<input type="submit" value="Delete" />
</form>

</fieldset>
  

 
[% INCLUDE include/footer.tt2 %]
