{% if apache2_ssl_enabled %}

<VirtualHost *:{{ apache2_http_port }}>
    ServerName {{ apache2_server_name }}
    Redirect permanent / https://{{ apache2_server_name }}:{{ apache2_https_port }}/
</VirtualHost>

{% endif %}

<VirtualHost _default_:{{ apache2_https_port if apache2_ssl_enabled else apache2_http_port }}>

    ServerName  {{ apache2_server_name }}
    ServerAdmin {{ apache2_server_admin }}

    <Location /static>
        SetHandler default-handler
    </Location>

    <Location />
        Options ExecCGI

        # New form to write "Order allow,deny; Allow from all" in Apache 2.4
        Require all granted

        AddHandler fcgid-script .pl
        AddHandler fcgid-script .sh
        AddHandler cgi-script   .cgi
    </Location>

    FcgidMinProcessesPerClass  2
    FcgidIdleTimeout           3600
    FcgidProcessLifeTime       7200
    FcgidConnectTimeout        8
    FcgidIOTimeout             900
    FcgidBusyTimeout           900
    FcgidMaxRequestsPerProcess 1000
    FcgidMaxRequestLen         8388608

    Alias / {{ mediacloud_root }}/script/fastcgi.pl/

    {% if apache2_redirect_login_register_url is defined or apache2_redirect_login_forgot_url is defined %}
    # Nicer registration and / or "forgot password" pages
    RewriteEngine On
    {% endif %}

    {% if apache2_redirect_login_register_url is defined %}
    RewriteRule   ^/login/register {{ apache2_redirect_login_register_url }} [NE,L,R=301]
    {% endif %}

    {% if apache2_redirect_login_forgot_url %}
    RewriteRule   ^/login/forgot   {{ apache2_redirect_login_forgot_url }} [NE,L,R=301]
    {% endif %}

    # Inline::Python work directory
    FcgidInitialEnv PERL_INLINE_DIRECTORY {{ mediacloud_root }}/_Inline-webapp

    FcgidInitialEnv HOME  {{ mediacloud_home }}
    FcgidInitialEnv PATH  "/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/X11R6/bin"
    FcgidInitialEnv SHELL /bin/bash

    {% if apache2_ssl_enabled %}

    SSLEngine               On
    SSLCertificateFile      {{ apache2_ssl_cert_path }}
    SSLCertificateKeyFile   {{ apache2_ssl_cert_key_path }}

    {% if apache2_ssl_cert_chain_path is defined %}
    SSLCertificateChainFile {{ apache2_ssl_cert_chain_path }}
    {% endif %}

    {% endif %}

    LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-agent}i\" %D" mc
    CustomLog {{ apache2_log_path }}/access.log mc

</VirtualHost>
