#
# Global Media Cloud environment variables
# ========================================
#
# NOTE: single and double quotes don't get interpolated, so instead of:
#
#     FOO="bar"
#
# do:
#
#     FOO=bar
#

# One or more semicolon-separated storage methods to store downloads in.
#
# Supported locations:
#
# * "postgresql" -- store downloads in the PostgreSQL database, "raw_downloads"
#   table
# * "amazon_s3" -- store downloads in Amazon S3
#
# Default is "postgresql" which stores downloads directly in the PostgreSQL
# database.
#
# The path of the last download storage method listed below will be stored in
# "downloads.path" database column.
MC_DOWNLOADS_STORAGE_LOCATIONS=postgresql

# Read all non-inline ("content") downloads from S3
MC_DOWNLOADS_READ_ALL_FROM_S3=0

# Fallback PostgreSQL downloads to Amazon S3
# (if download doesn't exist in PostgreSQL storage, S3 will be tried instead)
MC_DOWNLOADS_FALLBACK_POSTGRESQL_TO_S3=0

# Enable local Amazon S3 download cache
MC_DOWNLOADS_CACHE_S3=0

# (optional) S3 download storage access key ID
#MC_DOWNLOADS_AMAZON_S3_ACCESS_KEY_ID=AKIAIOSFODNN7EXAMPLE

# (optional) S3 download storage secret access key
#MC_DOWNLOADS_AMAZON_S3_SECRET_ACCESS_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYzEXAMPLEKEY

# (optional) S3 download storage bucket name
#MC_DOWNLOADS_AMAZON_S3_BUCKET_NAME=mediacloud-downloads

# (optional) S3 download storage directory name (prefix)
#MC_DOWNLOADS_AMAZON_S3_DIRECTORY_NAME=downloads

# "From:" email address when sending emails
MC_EMAIL_FROM_ADDRESS=info@mediacloud.org

# Fail all HTTP requests that match the following pattern, e.g.
# "^https?://[^/]*some-website.com"
MC_USERAGENT_BLACKLIST_URL_PATTERN=

# (optional) Semicolon-separated domains that might need HTTP auth credentials
# to work
# Example: "username:password@domain.com;username2:password2@domain2.org"
#MC_USERAGENT_AUTHENTICATED_DOMAINS=

# parallel_get() parallel connection count
MC_USERAGENT_PARALLEL_GET_NUM_PARALLEL=10

# parallel_get() connection timeout, in seconds
MC_USERAGENT_PARALLEL_GET_TIMEOUT=90

# parallel_get() per-domain timeout, in seconds
MC_USERAGENT_PARALLEL_GET_PER_DOMAIN_TIMEOUT=1

# I wish I knew what this is
#MC_USERAGENT_THROTTLED_DOMAIN_TIMEOUT=

# (Used by topics-base and containers that inherit from it)
# Comma-separated email addresses to inform about topic updates
MC_BASE_TOPIC_ALERT_EMAILS=topicupdates@mediacloud.org, slackupdates@mediacloud.org
