[% title = 'Visualize Media' %]
[% INCLUDE include/header.tt2 %]

<div id="navigation">
<fieldset id="visualize">

[% form.render %]

</fieldset>
</div>

<div id="centerDoc">
<p />

<img src=" [% url %] " />

</div>

[% INCLUDE include/footer.tt2 %]
