[all]

;
; Localhost
;
localhost ansible_connection=local

;
; Sample host to deploy to
; ---
;
; Some optional variables:
;
; * "mediacloud_user" -- username to use for installing and running Media Cloud
;   (e.g. "mediacloud"). Default is "{{ ansible_user_id }}", i.e. Ansible user,
;   for both localhost and remote hosts.
;
; * "mediacloud_home" -- home directory ($HOME) for user that will be running
;   Media Cloud. Default is "{{ ansible_env.HOME }}", i.e. Ansible user's home,
;   for both localhost and remote hosts.
;
; * "mediacloud_root" -- Media Cloud root directory to check out the repository
;   to. Default is "../" (i.e. currently checked out repository as relative to
;   "ansible/" directory) on localhost and "{{ ansible_env.HOME }}/mediacloud"
;   on remote hosts.
;
; * "slack_webhook_token" -- Slack webhook token to use for sending out
;   deployment notifications.
;
; For more optional variables that you can set, please see "group_vars/" and
; "host_vars/".
;
mcsample ansible_host=mcsample.media.mit.edu ansible_user=myuser ansible_ssh_private_key_file=~/.ssh/mcsample mediacloud_user=mediacloud mediacloud_home=/home/mediacloud mediacloud_root=/home/mediacloud/mediacloud slack_webhook_token=RXXO9HP4Z/V2A2NB6S5/ZmXT6eUBpBBZp31htec3BLPg
