/* Word wrap long code samples so one doesn't have to do horizontal scrolling */
pre.sourceCode {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

