table {
    background: #f4f4f4;
    border-collapse: collapse;
    width: 100%;
}

table th, table td {
    border: 1px silver solid;
    padding: 0.2em;
}

table tr#even {
    background: #fcfcfc;
}

table th {
    background: #eeeeee;
    white-space: nowrap;    
}

h1 {
    font-size: 120%;
    font-style: bold;
}

h2 {
    font-size: 110%;
    font-style: bold;
}

h3 {
    font-size: 100%;
    font-style: bold;
}

body td th{
    font-family: verdana, helvetica, arial;
    font-size: 80%;    
}

a {
    color: #000088;
}

img {
    margin: 20px;
}

div#menu ul {
    margin: 0em;
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid silver;
}

div#menu li {
    font-weight: bold;
    list-style-type: none;
    display: inline;
    padding-right: 1em;
    margin-left: 0em;
    white-space: nowrap;
}

div#story_parse_test {
    margin: 0em;
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid silver;
}

div#story_parse_test_broken {
    margin: 0em;
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid silver;
    background-color: #fff5f5;
}

blockquote {
    padding: 1em;
    background-color: #f5f5f5;
}

fieldset#tag_set .checkbox {
    float: left;
    width: 15em;
    display: inline;
}

fieldset#tag_set .text {
    clear: left;
    width: 30em;
}

fieldset#edit_tags {
    padding-top: 0;
}

fieldset#edit_tags .submit {
    margin-top: 1em;
}

div#status {
    margin-bottom: 1em;
    border: 1px solid silver;
    padding: 1em;    
}

div#error {
    font-weight: bold;
    color: red;
    margin-bottom: 1em;
    border: 1px solid red;
    padding: 1em;    
}

#navigation {
    font-family: verdana, helvetica, arial;
    font-size: 14px;
    color: #333333;
    background-color: #F9F9F9;
    float: left;
    width: 30%;
    height: 500px;
    margin: 0;
    border: 1px solid silver;
    font-weight: normal;
}

#centerDoc {
    font-family: verdana, helvetica, arial;
    font-size: 14px;
    color: #333333;
    background-color: #F9F9F9;
    position: relative;
    float: left;
    width : 68%;
    height : 500px;
    margin-left: 10px ;
    border: 1px solid silver;
}

