[% title = 'Batch Create Feeds' -%]
[% INCLUDE include/feeds_header.tt2 -%]

<fieldset>

<form action="[% c.uri_for('/feeds/batch_create_do/' _ medium.media_id) %]" method="post" >

<p>Enter one feed url per line:</p>

<textarea name="urls" rows="10" cols="80"></textarea>

<p>
<input type="submit" value="Add Feeds" />
</p>

</form> 

</fieldset>
 
[% INCLUDE include/footer.tt2 -%]
