<!DOCTYPE html>
<html lang="en-US"><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>Media Cloud [% title | html %]</title>

<link rel="stylesheet" id="style-css" href="[% c.uri_for( '/include/auth/style.css' ) %]" type="text/css" media="all">
[% INCLUDE 'public_ui/third_party_libs.tt2' %]
</head>

<body class="archive category category-tool-blog category-11 custom-background">

	
	<header id="masthead" class="site-header" role="banner">
		<div class="header-wrapper">
			<hgroup>
				<h1 class="site-title"><a href="http://www.mediacloud.org/" title="Media Cloud" rel="home">Media Cloud</a></h1>
				<h2 class="site-description">tools for online media analysis</h2>
			</hgroup>

			<nav role="navigation" class="site-navigation main-navigation">
				<h1 class="assistive-text">Menu</h1>
				<div class="assistive-text skip-link"><a href="http://www.mediacloud.org/category/blog/tool-blog/#content" title="Skip to content">Skip to content</a></div>
				<div class="menu-nav-bar-container"><ul id="menu-nav-bar" class="menu"><li id="menu-item-129" class="menu-item menu-item-type-taxonomy menu-item-object-category current-category-ancestor current-category-parent menu-item-129"><a href="http://www.mediacloud.org/category/blog/">Blog</a></li>
<li id="menu-item-151" class="menu-item menu-item-type-taxonomy menu-item-object-category current-menu-item menu-item-151"><a href="http://www.mediacloud.org">Tools</a></li>
<li id="menu-item-162" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-162"><a href="http://www.mediacloud.org/papers/">Papers</a></li>
<li id="menu-item-163" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-163"><a href="http://www.mediacloud.org/get-involved/">Get Involved</a></li>
<li id="menu-item-44" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-44"><a href="http://www.mediacloud.org/about/">About</a></li>
</ul></div>			</nav>

		</div><!-- .header-wrapper -->
	</header><!-- .site-header -->



	
	<div id="page" class="hfeed site">
		<div id="main">

		<section id="primary" class="site-content">
			<div id="content" role="main">

			
[% IF status_msg %]<div>[% status_msg %]</div>[% END %]
[% IF error_msg %]<div style="color:#990000">[% error_msg %]</div>[% END %]

				<header class="page-header">
					<h1 class="page-title">[% title | html %]</h1>
				</header>

				
								
					
				
					
					
<article id="login" class="login post type-post status-publish format-standard has-post-thumbnail hentry category-tool-blog">

		<div class="entry-content">

