[% title = medium.name _ " Feeds: " _ title -%]

[% submenu_items = [ [ "/feeds/list/${medium.media_id}", "", "List Feeds"],
					 [ "/feeds/create/${medium.media_id}", "", 'Create New Feed'],
					 [ "/feeds/scrape/${medium.media_id}", "", 'Scrape Feeds'],
					 [ "/feeds/batch_create/${medium.media_id}", "", 'Batch Create Feeds'],
			       ]; -%]

[% INCLUDE include/header.tt2 %]
