[% title = 'Stats: Media Tag Counts' %]
[% INCLUDE include/header.tt2 %]

<p><b>Media Tag Counts for [% medium_1.name | html %]</b></p>

<div>

<form action="[% c.uri_for('/stats/media_tag_counts') %]" method="GET" >

<p>
generate a country map: <input type="checkbox" name="use_countries" /> <br />
OR
search for tags associated with this tag: <input type="text" name="tag_query" value="[% tag_query | html %]" /><br />
OR
(leave blank for top ten tags for each source)<br />
</p>

[% FOREACH media_num IN [ 1 .. 3 ] -%]
 
<select name="media_id_[% media_num %]">

<option value="">(no media)</option>

[% FOREACH media_option IN all_media -%]

<option value="[% media_option.media_id %]" [% IF (medium.$media_num.media_id == media_option.media_id) -%]selected="selected"[% END -%]>[% media_option.name | html %]</option>

[% END # FOREACH media_option IN all_media -%]

</select>
<br />

[% END # FOREACH media_num = [ 1 .. 3 ] -%]

<input type="submit" value="Go" />

</form>

</div>

<div>

[% FOREACH media_num IN [ 1 .. 3 ] -%]
[% IF chart_url.$media_num -%]
<img src="[% chart_url.$media_num %]" alt="tag counts chart (see table below)" />
[% END # IF chart_url.$media_num -%]
[% END # FOREACH media_num IN [ 1 .. 3 ] -%]


[% INCLUDE include/footer.tt2 %]