version: "3.7"

services:

    facebook-fetch-story-stats:
        image: dockermediacloud/facebook-fetch-story-stats:latest
        stop_signal: SIGKILL
        env_file: ./../common/common.env.dist
        environment:
            MC_FACEBOOK_APP_ID: "${MC_FACEBOOK_APP_ID}"
            MC_FACEBOOK_APP_SECRET: "${MC_FACEBOOK_APP_SECRET}"
            MC_FACEBOOK_TIMEOUT: 60
        volumes:
            - type: bind
              source: ./bin/
              target: /opt/mediacloud/bin/
            - type: bind
              source: ./src/
              target: /opt/mediacloud/src/facebook-fetch-story-stats/
            - type: bind
              source: ./tests/
              target: /opt/mediacloud/tests/
            - type: bind
              source: ./../common/src/
              target: /opt/mediacloud/src/common/
        depends_on:
            - postgresql-pgbouncer
            - rabbitmq-server

    postgresql-pgbouncer:
        image: dockermediacloud/postgresql-pgbouncer:latest
        stop_signal: SIGKILL
        expose:
            - 6432
        depends_on:
            - postgresql-server

    postgresql-server:
        image: dockermediacloud/postgresql-server:latest
        stop_signal: SIGKILL
        expose:
            - 5432

    rabbitmq-server:
        image: dockermediacloud/rabbitmq-server:latest
        stop_signal: SIGKILL
        expose:
            - 5672
            - 15672
