<html>
<head>
[% INCLUDE 'public_ui/third_party_libs.tt2' %]

<style>
.view_article
{
    color: #32588F;
    text-decoration: none;
    font-weight: bold; 
}
</style>
</head>

<body>
<script language="javascript" type="text/javascript">

   $(document).ready(function() 
    {
   });
</script>
<p>
[% c.loc("Sorry, we are under very high load right now and can't load sentences.") %]</p>
<p> [% c.loc('Please try again later.') %]</p>
<br/>
</body>
</html>
