[% title = 'Stories: Tags Study' %]
[% INCLUDE include/header.tt2 %]

<p>
Tag: [% tag.tag %]
</p>

<br/>

<table>

<tr>
<th>title</th>
<th>url</th>
<th>date published</th>
</tr>

[% FOREACH story IN stories -%]

<tr [% IF even %]id="even"[% END %]>

<td><a href="[% c.uri_for('/stories/view/') _ story.stories_id %]">[% story.title | html %]</a></td>

<td><a href="[% story.url %]">view&nbsp;live</a></td>

<td>[% story.publish_date  %]</td>

</tr>

[%  SET even = !even %]
[% END # FOREACH stories -%]

</table>

<p>
</p>

[% INCLUDE include/footer.tt2 %]
