version: "3.7"

services:

    crawler-ap:
        image: gcr.io/mcback/crawler-ap:latest
        init: true
        stop_signal: SIGKILL
        environment:
            # Tests will set their own dummy AP API key
            MC_CRAWLER_AP_API_KEY: "dummy"
        volumes:
            - type: bind
              source: ./bin/
              target: /opt/mediacloud/bin/
            - type: bind
              source: ./src/
              target: /opt/mediacloud/src/crawler-ap/
            - type: bind
              source: ./tests/
              target: /opt/mediacloud/tests/
            - type: bind
              source: ./../common/src/
              target: /opt/mediacloud/src/common/
        depends_on:
            - postgresql-pgbouncer
            # Fetcher's test will try to add downloaded downloads to extractor's queue
            - rabbitmq-server
            # Fetcher's test will try to extract the story and test the number of sentences
            - extract-and-vector

    extract-and-vector:
        image: gcr.io/mcback/extract-and-vector:latest
        init: true
        stop_signal: SIGKILL
        volumes:
            - type: bind
              source: ./../extract-and-vector/bin/
              target: /opt/mediacloud/bin/
            - type: bind
              source: ./../extract-and-vector/src/
              target: /opt/mediacloud/src/extract-and-vector/
            - type: bind
              source: ./../common/src/
              target: /opt/mediacloud/src/common/
        depends_on:
            - extract-article-from-page
            - postgresql-pgbouncer
            # process_extracted_story() will try to add story to CLIFF / NYTLabels queue:
            - rabbitmq-server

    extract-article-from-page:
        image: gcr.io/mcback/extract-article-from-page:latest
        init: true
        stop_signal: SIGKILL
        expose:
            - 8080
        volumes:
            - type: bind
              source: ./../extract-article-from-page/bin/
              target: /opt/mediacloud/bin/
            - type: bind
              source: ./../extract-article-from-page/src/
              target: /opt/mediacloud/src/extract-article-from-page/
            - type: bind
              source: ./../common/src/
              target: /opt/mediacloud/src/common/

    postgresql-pgbouncer:
        image: gcr.io/mcback/postgresql-pgbouncer:latest
        init: true
        stop_signal: SIGKILL
        expose:
            - 6432
        volumes:
            - type: bind
              source: ./../postgresql-pgbouncer/conf/
              target: /etc/pgbouncer/
        depends_on:
            - postgresql-server

    postgresql-server:
        image: gcr.io/mcback/postgresql-server:latest
        init: true
        stop_signal: SIGKILL
        expose:
            - 5432
        volumes:
            - type: bind
              source: ./../postgresql-server/bin/
              target: /opt/mediacloud/bin/
            - type: bind
              source: ./../postgresql-server/schema/
              target: /opt/mediacloud/schema/
            - type: bind
              source: ./../postgresql-base/conf/
              target: /etc/postgresql/13/main/

    rabbitmq-server:
        image: gcr.io/mcback/rabbitmq-server:latest
        init: true
        stop_signal: SIGKILL
        expose:
            - 5672
            - 15672
        volumes:
            - type: bind
              source: ./../rabbitmq-server/conf/
              target: /etc/rabbitmq/
