<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css" href="/include/media_cloud_rough.css"/>

<style type="text/css">

xA:link {color: #000000; }
xA:visited {color: #000000; }
xA:active {color: #000000; }

#htmltagcloud {
  text-align:  center; 
  line-height: 1; 
}
a { color: #32588F; text-decoration: none;}
span.tagcloud0 { font-size: 12px;}
span.tagcloud1 { font-size: 13px;}
span.tagcloud2 { font-size: 14px;}
span.tagcloud3 { font-size: 15px;}
span.tagcloud4 { font-size: 16px;}
span.tagcloud5 { font-size: 17px;}
span.tagcloud6 { font-size: 18px;}
span.tagcloud7 { font-size: 19px;}
span.tagcloud8 { font-size: 20px;}
span.tagcloud9 { font-size: 21px;}
span.tagcloud10 { font-size: 22px;}
span.tagcloud11 { font-size: 23px;}
span.tagcloud12 { font-size: 24px;}
span.tagcloud13 { font-size: 25px;}
span.tagcloud14 { font-size: 26px;}
span.tagcloud15 { font-size: 27px;}
span.tagcloud16 { font-size: 28px;}
span.tagcloud17 { font-size: 29px;}
span.tagcloud18 { font-size: 30px;}
span.tagcloud19 { font-size: 31px;}
span.tagcloud20 { font-size: 32px;}
span.tagcloud21 { font-size: 33px;}
span.tagcloud22 { font-size: 34px;}
span.tagcloud23 { font-size: 35px;}
span.tagcloud24 { font-size: 36px;}

</style>

<style type="text/css">
body {
padding-top : 0; 
padding-right : 0; 
padding-bottom : 0; 
padding-left : 0; 
border-top-width : 0; 
border-right-width : 0; 
border-bottom-width : 0; 
border-left-width : 0; 
margin : 0; 
}</style>

<title>Media Cloud</title>
<link href="[% c.uri_for('/include/smoothness/jquery-ui-1.8.5.custom.css') %]" rel="stylesheet" type="text/css"/>
<script language="javascript" type="text/javascript" src="[% c.uri_for('/include/jquery-1.4.3.js') %]"></script>
<script language="javascript" type="text/javascript" src="[% c.uri_for('/include/jquery-ui-1.8.5.custom.min.js') %]"></script>
<!--
<link rel="stylesheet" href="http://dev.jquery.com/view/trunk/plugins/autocomplete/jquery.autocomplete.css" type="text/css" />
<script type="text/javascript" src="http://dev.jquery.com/view/trunk/plugins/autocomplete/jquery.autocomplete.js"></script>
-->
 <script type="text/javascript"  src="[% c.uri_for('/include/jquery.openheatmap.js') %]"></script> 
<!-- <script type="text/javascript" src="http://static.openheatmap.com/scripts/jquery.openheatmap.js"></script> -->
<script type="text/javascript" src="http://dev.jquery.com/view/trunk/plugins/validate/jquery.validate.js"></script>
<!-- <script language="javascript" type="text/javascript" src="[% c.uri_for('/include/media_cloud_rough.js') %]"></script> -->
</head>


<body>
<script language="javascript" type="text/javascript">
   $(document).ready(function() 
    {
        var data = [
[% FOREACH medium IN media %]
        "[% medium.name | trim | html %]",
[% END %]
        ];
        //TODO migrate this to the JQuery UI api
        //Write a custom event to ensure that the entered source name is valid
        $('#medium_name1').autocomplete(data, { minChars: 0, autoFill: true  } );
        $('#medium_name2').autocomplete(data, { minChars: 0, autoFill: true  } );

       $('#authors_id1').hide();
        $('#author_name1').autocomplete( { source : "[% c.uri_for('/dashboard/json_author_search') %]" ,
   
   change: function(event, ui) {  
      //alert('change event');
      if (ui.item) {
      //alert('autocompleted ' + ui.item.label + ' ' + ui.item.authors_id);
      $('#authors_id1').val(ui.item.authors_id);
   }
   else
   {
      $('#authors_id1').val('');
      $(this).val('');
      //alert('no item');
   }
   },
  select: function(event, ui) {  
      //alert('select event');
      if (ui.item) {
      //alert('autocompleted ' + ui.item.label + ' ' + ui.item.authors_id);
      $('#authors_id1').val(ui.item.authors_id);
   }
   else
   {
      $('#authors_id1').val('');
      $(this).val('');
      //alert('no item');
   }
   }
});
        $('#media_query_form').validate({
           rules: {
              media_sets_id1: {
              required: function(element) {
                 return $('#medium_name1').val() == '';
                    }
             },
              media_sets_id2: {
                  required: function(element) {
                   return $('#compare_media_sets').val()=='true' && $('#medium_name2').val() == '';
                   }
              }
          }                               
   });
        //DisplayDIV('mediacontainer2');

        $('#openheatmap_container').insertOpenHeatMap({
              width: 500,
              height: 400,
             // prefer: 'canvas',
      source: '[% c.uri_for('/include/openheatmap.swf') %]',
        });

   //swapDIV('CMcontentarea');
    });


function onMapCreated()
{
    var map = $.getOpenHeatMap();

    map.bind('valuesload', 'onDataLoaded');
    map.bind('error', 'onError');
    //map.bind('waysload', 'onDataLoaded');
    map.loadWaysFromFile('http://static.openheatmap.com/world_countries.osm');
    //map.loadWaysFromFile('[% c.uri_for('/include/world_countries.osm') %]');
    //var csv_string = "country_code,value\nUSA,40\nCAN,30\nIND,30";
    //alert(csv_string);

   // map.loadValuesFromCSVString(csv_string);

   var csv_url = '[% c.uri_for('/dashboard/get_country_counts_all_dates/',dashboard.dashboards_id,c.req.parameters ) _ '&format=csv'  %]';
//   map.loadValuesFromFile( csv_url);
   $.get(csv_url, function(data) {
   //alert("got data " + data);
   map.loadValuesFromCSVString(data);
   map.setSetting('show_map_tiles', true);
   map.setSetting('information_alpha', 0.8);
   //map.setSetting('ocean_color', 13689087);
//map.setSetting('ocean_color', '#ff0000');
 map.setSetting('world_lat_height', -170.102258);
 map.setSetting('world_lon_width', 360);
 map.setWayDefault('color', 16053492);
 //map.setSetting('gradient_with_alpha', ["#ffd2d2f7","#ff908cf7","#ff1100ff"]);
 map.setColorGradient(["#ffd2d2f7","#ff908cf7","#ff1100ff"]);
   //"title_background_color":"#ffffff","title_background_alpha":1,"time_range_start":"2010-05-31","time_range_end":"2010-11-16","force_outlines":false,"show_map_tiles":false,"map_server_root":"http:\/\/a.tile.openstreetmap.org\/","inlay_border_color":"#000000","ocean_color":"#ffffff","information_alpha":1,"show_zoom":true,"allow_pan":true,"point_drawing_shape":"blob","circle_line_color":0,"circle_line_alpha":1,"circle_line_thickness":1,"is_point_blob_radius_in_pixels":false},"way":{"line_thickness":0,"line_color":0,"line_alpha":0,"color":15790320}

   map.setSetting("title_background_color" , "#ffffff" );
   map.setSetting("title_background_alpha", 1);
   map.setSetting("force_outlines", false);
   map.setSetting("ocean_color", "#ffffff");
  // map.setSetting("credit_text","Word_list");
 //  map.setSetting("credit_size",15);
 //  map.setSetting("credit_color","0x000000");
 //  map.setSetting("credit_background_color","#ffffff");
   onDataLoaded();
   } );
}

function onDataLoaded()
{
   //alert('data loaded');
   $('#coveragemap_status').html("Rendering Map...");
   $('#coverage_key').show('slow');
}

function onError(err)
{
   alert(err);
}

</script>

[% # form.render() %]

[% INCLUDE 'zoe_website_template/header.tt2' %]

  <tr>

    <td>
  [% form.start %]
      <input type="hidden" name="show_results" value="true" />
      [% form.get_field( 'compare_media_sets')  %]
      <div id="mediacontainer1">
        <div id="mediaheader1">Media Data Set #1</div>
        <div id="mediaTime1"> <strong>Date</strong><br />
	  [% form.get_field( 'date1')  %]
          <span class="smaller">A fast explanation here</span>
	  <br />
        </div>
<!--
        <div id="data_level"> <strong>Data Level</strong><br />
	  [% form.get_field( 'data_level')  %]
          <span class="smaller">A fast explanation here</span>
	  <br />
        </div>
	<br />
        <div id="mediaArea1"> <strong>Area of coverage</strong><br />
	  [% form.get_field( 'dashboard_topics_id1')  %]
          <span class="smaller">A fast explanation here</span>
        </div>
-->
        <div id="mediaArea1"> <strong>Author Name</strong><br />
	  [% form.get_field( 'author_name1')  %]
	  [% form.get_field( 'authors_id1')  %]
        </div>
        <div id="mediaSource1"> <strong>Media Source</strong><br />
	  [% form.get_field( 'medium_name1')  %]
          <!-- <input type="text" name="medium_name2" id="medium_name2" /> -->
          <span class="smaller">A fast explanation here</span><hr noshade="noshade" size="1" width="99%"/>
          <strong>Set of Media Sources</strong>

	  [% form.get_field( 'media_sets_id1')  %]
          <span class="smaller">A fast explanation here</span>

        </div>
      </div>

      <div>
	[% IF error_message %]
	<p><b>Error:</b>  [% error_message | html_strip %]</p>
	[% END %]
      </div>
      <div style="cursor:pointer;">
      <div id="submit"><input name="Submit" type="submit" value="submit" />
      </div>
      </div>
      [% form.end() %]
    </td>
  </tr>
  <tr>
    <td><hr noshade="noshade" size="1" width="100%" style="color:#999999" /></td></tr>
  <tr>
    <td><!--This is where the content starts!-->

[% INCLUDE 'zoe_website_template/side_bar.tt2' %]     

            <br/>
            <br/>
            <div id="coveragemap" class="contentUnselected"><span onclick="swapDIV('CMcontentarea')" style="cursor:pointer;">Coverage Map</span></div>
            <div id="wordcloud" class="contentSelected"><span onclick="swapDIV('WCcontentarea')" style="cursor:pointer;">Word Cloud</span></div>
            <div id="WCcontentarea">
[% IF word_cloud %]
[%- word_cloud -%]
[% ELSE %]
This is a Word Cloud! Thats' what goes here.<br/>
              .<br/>
              .<br/>
              .<br/>
              .<br/>
              Still a Word Cloud!
[% END %]
</div>
            <div id="CMcontentarea" style="display:none;">

[% IF coverage_map_chart_url %]
<div id="openheatmap_container"></div>
<!-- <img src="[%- coverage_map_chart_url | html -%]" alt="Coverage Map" /> -->
[% ELSIF coverage_map_chart_url_1 && coverage_map_chart_url_2 %]
<table>
<tr>
<td>
Set 1 coverage
</td>
<td>
Set 2 coverage
</td>
</tr>
<tr>
<td>
<img src="[%- coverage_map_chart_url_1 | html -%]" alt="Coverage Map" />
</td>
<td>
<img src="[%- coverage_map_chart_url_2 | html -%]" alt="Coverage Map" />
</td>
</tr>
</table>
[% ELSE %]
This is a Coverage Map! That's what goes here.  Anything having to do with a Coverage map goes right in this little div tag!  But its only visible once you click on the coverage map tag!
[% END %]
 </div></td>
        </tr>
      </table>

      <!--This is where the content ends!--></td>
  </tr>
  <tr>
    <td align="center">All materials Copyright Media Cloud 2010</td>
  </tr>
</table>
</body>
</html>
