<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css" href="[% c.uri_for( '/include/media_cloud_rough.css' ) %]"/>
<link rel="stylesheet" type="text/css" href="[% c.uri_for( '/include/word_cloud.css' ) %]"/>
<link rel="stylesheet" type="text/css" href="[% c.uri_for( '/include/final_tweaks.css' ) %]"/>

<style type="text/css">
body {
padding-top : 0; 
padding-right : 0; 
padding-bottom : 0; 
padding-left : 0; 
border-top-width : 0; 
border-right-width : 0; 
border-bottom-width : 0; 
border-left-width : 0; 
margin : 0; 
}</style>

<title>Media Cloud</title>
[% INCLUDE 'zoe_website_template/third_party_libs.tt2' %]

<script language="javascript" type="text/javascript" src="[% c.uri_for('/include/media_cloud_rough.js') %]"></script>
</head>

