<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" href="[% c.uri_for('/include/AutoComplete.css') %]" media="screen" type="text/css"/>

<link rel="stylesheet" type="text/css" href="/include/media_cloud_rough.css"/>

<style type="text/css">

xA:link {color: #000000; }
xA:visited {color: #000000; }
xA:active {color: #000000; }

#htmltagcloud {
  text-align:  center; 
  line-height: 1; 
}
a { color: #32588F; text-decoration: none;}
span.tagcloud0 { font-size: 12px;}
span.tagcloud1 { font-size: 13px;}
span.tagcloud2 { font-size: 14px;}
span.tagcloud3 { font-size: 15px;}
span.tagcloud4 { font-size: 16px;}
span.tagcloud5 { font-size: 17px;}
span.tagcloud6 { font-size: 18px;}
span.tagcloud7 { font-size: 19px;}
span.tagcloud8 { font-size: 20px;}
span.tagcloud9 { font-size: 21px;}
span.tagcloud10 { font-size: 22px;}
span.tagcloud11 { font-size: 23px;}
span.tagcloud12 { font-size: 24px;}
span.tagcloud13 { font-size: 25px;}
span.tagcloud14 { font-size: 26px;}
span.tagcloud15 { font-size: 27px;}
span.tagcloud16 { font-size: 28px;}
span.tagcloud17 { font-size: 29px;}
span.tagcloud18 { font-size: 30px;}
span.tagcloud19 { font-size: 31px;}
span.tagcloud20 { font-size: 32px;}
span.tagcloud21 { font-size: 33px;}
span.tagcloud22 { font-size: 34px;}
span.tagcloud23 { font-size: 35px;}
span.tagcloud24 { font-size: 36px;}

</style>

<title>Media Cloud</title>

<script language="javascript" type="text/javascript" src="[% c.uri_for('/include/media_cloud_rough.js') %]"></script>
</head>

<body bgcolor="#edf2d5" leftmargin="0" topmargin="0" rightmargin="0" bottommargin="0"  marginwidth="0" marginheight="0">

<script language="javascript" type="text/javascript" src="[% c.uri_for('/include/AutoComplete.js') %]"></script>

<script language="javascript" type="text/javascript">
    window.onload = function ()
    {
        data = [
[% FOREACH medium IN media %]
        "[% medium.name | trim | html %]",
[% END %]
        ];    
        AutoComplete_Create('media1a2', data, 10);
        AutoComplete_Create('media1a4', data, 10);
        DisplayDIV('mediacontainer2');
    }
</script>

<table width="900" border="0" align="center" cellpadding="10" cellspacing="0" bordercolor="#CC66CC" bgcolor="#FFFFFF">
  <tr>
    <td bgcolor="#000000"><span class="Header">Media Cloud</span></td>
  </tr>
  <tr>
    <td align="left" bgcolor="#000000"><font color="#FFFFFF"><a href="link" class="navigation">Home</a> | <a href="link" class="navigation">About</a> | <a href="link" class="navigation">News</a> | <a href="link"  class="navigation">Data Sources</a>| <a href="link"  class="navigation">Weekly Reports</a></font></td>
  </tr>
  <tr>


    <td>
      <form action="[% c.uri_for('/dashboard/template_test/') _ dashboard.dashboards_id %]" method="get">
      <input type="hidden" name="show_results" value="true" />
      <div id="mediacontainer1">
        <div id="mediaheader1">Media Data Set #1</div>
        <div id="mediaTime1"> <strong>Time range</strong><br />
	  <select name="date" >
	  [% FOREACH date IN dashboard_dates %]
	  <option value="[% date %]">[% date %]</a>
	  [% END #FOREACH date IN dashboard_dates %]
	</select>
 <!--           <input type="text" name="media1t" id="media1t" /> -->

          <br /> 
          <span class="smaller">A fast explanation here</span>
	  <br />
        </div>
        <div id="mediaArea1"> <strong>Area of coverage</strong><br />
	  <select name="dashboard_topics_id">
	    <option value="">All</option>
	    [% FOREACH topic IN dashboard_topics %]
	    <option value="[% topic.dashboard_topics_id %]">[% topic.name | html %]</option>
	    [% END #[% FOREACH topic IN dashboard_topics %]
	  </select>
        <!--  <input type="text" name="media1a" id="media1a" /> -->
          <br />
          <span class="smaller">A fast explanation here</span>
        </div>
        <div id="mediaSource1"> <strong>Media Source</strong><br />
          <input type="text" name="media1a2" id="media1a2" />
          <br />
          <span class="smaller">A fast explanation here</span><hr noshade="noshade" size="1" width="99%"/>
          <strong>Set of Media Sources</strong>
          <label for="select"></label>
          <select name="media_sets_id" id="select">
<option value="">(none)</option>
[% FOREACH set IN collection_media_sets %]
<option value="[% set.media_sets_id %]">[% set.name | html %]</option>
[% END #[% FOREACH set IN collection_media_sets %]
          </select>
          <br />
          <span class="smaller">A fast explanation here</span>

        </div>
        <div id="mediaSubset1"> <strong>Available set within this set</strong><br />
          <label for="select2"></label>
          <select name="select2" id="select2">
            <option>All Sub-sets</option>
            <option>Subset1</option>
            <option>Subset2</option>
            <option>Subset 3</option>
          </select><br />
<span class="smaller">A fast explanation</span>
        </div>
      </div>
      <div id="mediacontainer2">
        <div id="mediaheader2">Media Data Set #2</div>
        <div id="mediaTime1"><strong>Time range</strong><br />
	  <select name="date" >
	  [% FOREACH date IN dashboard_dates %]
	  <option value="[% date %]">[% date %]</a>
	  [% END #FOREACH date IN dashboard_dates %]
	</select>
          <br />
          <span class="smaller">A fast explanation here</span></div>
        <div id="mediaArea1"><strong>Area of coverage</strong><br />
	  <select name="dashboard_topics_id">
	    <option value="">All</option>
	    [% FOREACH topic IN dashboard_topics %]
	    <option value="[% topic.dashboard_topics_id %]">[% topic.name | html %]</option>
	    [% END #[% FOREACH topic IN dashboard_topics %]
	  </select>
      <!--    <input type="text" name="media1a3" id="media1a3" /> -->
          <br />
          <span class="smaller">A fast explanation here</span></div>
        <div id="mediaSource1"><strong>Media Source</strong>
          <input type="text" name="media1a4" id="media1a4" /><br/>
          
          <span class="smaller">A fast explanation here</span><br />
          
          <hr noshade="noshade" size="1" width="99%" color="#999999"/>
          <strong>Set of Media Sources</strong>
          <label for="select2"></label>
          <select name="select3" id="select2">
             <option value="">(none)</option>
             [% FOREACH set IN collection_media_sets %]
             <option value="[% set.media_sets_id %]">[% set.name | html %]</option>
             [% END #[% FOREACH set IN collection_media_sets %]
          </select>
          <br />
          <span class="smaller">A fast explanation here</span></div>
        <div id="mediaSubset1"><strong>Available set within this set</strong><br />
          <label for="select3"></label>
          <select name="select4" id="select3">
            <option>All Sub-sets</option>
            <option>Subset1</option>
            <option>Subset2</option>
            <option>Subset 3</option>
          </select>
          <br />
          <span class="smaller">A fast explanation</span></div>
      </div>
      <span onclick="DisplayDIV('mediacontainer2')" style="cursor:pointer;">
      <div id="compare">Compare This Data Source</div>
      </span>
      <div class="submit"><input name="Submit" type="submit" value="go" />
      </div>
      </form>
    
    </td>
  </tr>
  <tr>
    <td><hr noshade="noshade" size="1" width="100%" color="#999999"/></td></tr>
  <tr>
    <td><!--This is where the content starts!-->
      
      <table width="100%" border="0" cellpadding="5" cellspacing="0" bordercolor="green">
        <tr>
          <td width="25%" align="left" valign="top"><div id="leftcolumn"> <strong>Popular Queries</strong><br />
              <div id="popular"> This is where a list of popular queries can be dropped in!<br />
                <a href="link">Item 1</a><br />
                <a href="link">Item </a>2<br />
                <a href="link">Item 3</a><br />
              </div>
              <strong>This week's report</strong><br />
              <div id="report"><a href="link">This is a link</a> to the Weekly report which doubles as a news page, with maybe the headline pulled in from its RSS<br />
              </div>
              <strong>Media Cloud</strong><br />
              <div id="news"><a href="link">This is a link</a> to the news page, Or About us, </div>
            </div></td>
          <td align="left" valign="top"><table width="275" border="0" cellspacing="0" cellpadding="2">
              <tr>
                <td width="100" align="right" valign="top"><strong>Media Source(s):</strong></td>
                <td align="left" valign="top">Top 25 Newspapers</td>
              </tr>
              <tr>
                <td align="right" valign="top"><strong>Media Sub-sets: </strong></td>
                <td align="left" valign="top">None</td>
              </tr>
              <tr>
                <td align="right" valign="top"><strong>Time range</strong>: </td>
                <td align="left" valign="top">This week</td>
              </tr>
              <tr>
                <td align="right" valign="top"><strong>Area of Coverage:</strong></td>
                <td align="left" valign="top">All</td>
              </tr>
              <tr>
                <td align="right" valign="top"><strong>Download Data:</strong></td>
                <td align="left" valign="top"> 
		  [<a href="[% c.uri_for('/dashboard/get_word_list/',dashboard.dashboards_id,c.req.parameters ) %]&format=csv">CSV</a>] [<a href="[% c.uri_for('/dashboard/get_word_list/',dashboard.dashboards_id,c.req.parameters ) %]&format=xml">XML</a>]</td>
              </tr>
            </table>
            <br/>
            <br/>
            <div id="coveragemap" class="contentUnselected"><span onclick="swapDIV('CMcontentarea')" style="cursor:pointer;">Coverage Map</span></div>
            <div id="wordcloud" class="contentSelected"><span onclick="swapDIV('WCcontentarea')" style="cursor:pointer;">Word Cloud</span></div>
            <div id="WCcontentarea">
[% IF word_cloud %]
[%- word_cloud -%]
[% ELSE %]
This is a Word Cloud! Thats' what goes here.<br/>
              .<br/>
              .<br/>
              .<br/>
              .<br/>
              Still a Word Cloud!
[% END %]
</div>
            <div id="CMcontentarea" style="display:none;">This is a Coverage Map! That's what goes here.  Anything having to do with a Coverage map goes right in this little div tag!  But its only visible once you click on the coverage map tag! </div></td>
        </tr>
      </table>
      
      <!--This is where the content ends!--></td>
  </tr>
  <tr>
    <td align="center">All materials Copyright Media Cloud 2010</td>
  </tr>
</table>
</body>
</html>
