version: "3.7"

services:

    import-solr-data-for-testing:
        image: mc2021/import-solr-data-for-testing:latest
        init: true
        stop_signal: SIGKILL
        environment:
            MC_SOLR_IMPORT_MAX_QUEUED_STORIES: 100000
        volumes:
            - type: bind
              source: ./bin/
              target: /opt/mediacloud/bin/
            - type: bind
              source: ./../import-solr-data/src/
              target: /opt/mediacloud/src/import-solr-data/
            - type: bind
              source: ./../common/src/
              target: /opt/mediacloud/src/common/
        depends_on:
            - postgresql-pgbouncer
            - solr-shard-01
            - rabbitmq-server

    postgresql-pgbouncer:
        image: mc2021/postgresql-pgbouncer:latest
        init: true
        stop_signal: SIGKILL
        expose:
            - 6432
        volumes:
            - type: bind
              source: ./../postgresql-pgbouncer/conf/
              target: /etc/pgbouncer/
        depends_on:
            - postgresql-server

    postgresql-server:
        image: mc2021/postgresql-server:latest
        init: true
        stop_signal: SIGKILL
        expose:
            - 5432
        volumes:
            - type: bind
              source: ./../postgresql-server/bin/
              target: /opt/mediacloud/bin/
            - type: bind
              source: ./../postgresql-server/schema/
              target: /opt/mediacloud/schema/
            - type: bind
              source: ./../postgresql-base/conf/
              target: /etc/postgresql/13/main/

    solr-shard-01:
        image: mc2021/solr-shard:latest
        init: true
        stop_signal: SIGKILL
        environment:
            MC_SOLR_SHARD_COUNT: "1"
        expose:
            - 8983
        volumes:
            - type: bind
              source: ./../solr-base/src/solr/
              target: /usr/src/solr/
            - type: bind
              source: ./../solr-shard/bin/solr-shard.sh
              target: /solr-shard.sh
        depends_on:
            - solr-zookeeper

    solr-zookeeper:
        image: mc2021/solr-zookeeper:latest
        init: true
        stop_signal: SIGKILL
        expose:
            - 2181
            - 2888
            - 3888
        volumes:
            - type: bind
              source: ./../solr-zookeeper/conf/
              target: /opt/zookeeper/conf/
            - type: bind
              source: ./../solr-zookeeper/bin/zookeeper.sh
              target: /zookeeper.sh

    rabbitmq-server:
        image: mc2021/rabbitmq-server:latest
        init: true
        stop_signal: SIGKILL
        expose:
            - 5672
            - 15672
        volumes:
            - type: bind
              source: ./../rabbitmq-server/conf/
              target: /etc/rabbitmq/
