# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*.py[cod]
*/*.py[cod]
*/*/*.py[cod]
*/*/*/*.py[cod]

# Vim swap files
*.swp
*/*.swp
*/*/*.swp
*/*/*/*.swp

# macOS
.DS_Store

# PyCharm
.idea

# py.test
.pytest_cache

