version: "3.7"

services:

    common:
        image: dockermediacloud/common:latest
        stop_signal: SIGKILL
        environment:
            MC_DOWNLOADS_AMAZON_S3_ACCESS_KEY_ID: "${MC_DOWNLOADS_AMAZON_S3_ACCESS_KEY_ID}"
            MC_DOWNLOADS_AMAZON_S3_SECRET_ACCESS_KEY: "${MC_DOWNLOADS_AMAZON_S3_SECRET_ACCESS_KEY}"
            MC_DOWNLOADS_AMAZON_S3_BUCKET_NAME: "${MC_DOWNLOADS_AMAZON_S3_BUCKET_NAME}"
            MC_DOWNLOADS_AMAZON_S3_DIRECTORY_NAME: "${MC_DOWNLOADS_AMAZON_S3_DIRECTORY_NAME}"
        volumes:
            - type: bind
              source: ./src/
              target: /opt/mediacloud/src/common/
            - type: bind
              source: ./tests/
              target: /opt/mediacloud/tests/
        depends_on:
            - postgresql-pgbouncer
            - solr-shard-01
            - import-solr-data-for-testing
            - rabbitmq-server

    import-solr-data-for-testing:
        image: dockermediacloud/import-solr-data-for-testing:latest
        environment:
            MC_SOLR_IMPORT_MAX_QUEUED_STORIES: 100000
        stop_signal: SIGKILL
        depends_on:
            - postgresql-pgbouncer
            - solr-shard-01

    postgresql-pgbouncer:
        image: dockermediacloud/postgresql-pgbouncer:latest
        stop_signal: SIGKILL
        expose:
            - 6432
        depends_on:
            - postgresql-server

    postgresql-server:
        image: dockermediacloud/postgresql-server:latest
        stop_signal: SIGKILL
        expose:
            - 5432

    solr-shard-01:
        image: dockermediacloud/solr-shard:latest
        stop_signal: SIGKILL
        environment:
            MC_SOLR_SHARD_COUNT: "1"
        expose:
            - 8983
        depends_on:
            - solr-zookeeper

    solr-zookeeper:
        image: dockermediacloud/solr-zookeeper:latest
        stop_signal: SIGKILL
        expose:
            - 2181
            - 2888
            - 3888

    rabbitmq-server:
        image: dockermediacloud/rabbitmq-server:latest
        stop_signal: SIGKILL
        expose:
            - 5672
            - 15672
