argparse
bitly_api
boto3
choice
cssselect
cssselect
dateutils
flask
hausastemmer
ipdb
ipython
joblib
lxml
lxml
mediacloud
nltk
prompter
psycopg2
pysolr
pyyaml
readability-lxml==0.6.2
requests
supervisor
thrift
