[% title = "Media Words: Extractor Stats" -%]
[% INCLUDE include/header.tt2 -%]
<p>
<table>

<tr>
<th>Name</th>
<th>Count</th>
</tr>
[%- FOREACH contributor_stat IN extractor_stats -%] 
<tr>
<td>
[%- contributor_stat.submitter | html_entity -%]
</td>
<td>
[%- contributor_stat.count | html_entity -%]
</td>
</tr>
[%- END -%]

</table>

</p>

[% INCLUDE include/footer.tt2 %]
