<!DOCTYPE html>
<html>

<head>
  <title>MediaCloud API Client Examples</title>
  <link href="/static/css/mediacloud.css" rel="stylesheet" type="text/css"/>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<div class="container"> 

  <div class="row">
    <div class="span12">
      <div class="page-header">
        <h1>MediaCloud API Client <small>Examples</small></h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12" id="mcSummaryInfo">
      {{ story_count }} stories in the database ({{english_story_pct}}% are in English).  The max story id is {{max_story_id}}.
    </div>
  </div>

  <div class="row">

    <div class="span6" id="mcWordCounts">
      <h3>Story Length</h3>
      <p>
      Here is a histogram of story length.  The horizontal axis is word length (0-200, 200-400, etc). 
      The vertical axis is the number of stories that have that many words.  
      </p>
          <!-- chart will be filled in by ajax call -->
    </div>

     <div class="span6" id="mcReadability">
      <h3>Story Reading Level</h3>
      <p>
      Here is a histogram of story reading grade level.  The horizontal axis is grade level 
      the story is written at. The vertical axis is the number of stories scored at that grade level. 
      </p>
          <!-- chart will be filled in by ajax call -->
    </div>
  </div>


  <div class="row">
    <div class="span12">
      <hr/>
    </div>
  </div>

  
  <div class="row">
    <div class="span12">
      <h2>Filter For <input type="text" data-provide="typeahead" id="mcPickDomain" placeholder="somenews.com"></h2>
    </div>
    <div id="mcFilteredResults" style="display:none">
      <div class="span12">
        <p id="mcFilteredInfo">
        </p>
      </div>
      <div class="span6">
        <h3>Word Count</h3>
        <div id="mcFilteredWordCounts">
          <!-- chart will be filled in by ajax call -->
        </div>
      </div>
      <div class="span6">
        <h3>Reading Level</h3>
        <div id="mcFilteredReadability">
          <!-- chart will be filled in by ajax call -->
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="span12">
      <hr/>
    </div>
  </div>
  

  <div class="row">
    <div class="span12">
      <p><b>Top Sources:</b>  
        {% for info in story_counts_by_source|dictsort %}
          <a href="http://{{info[0]}}">{{info[0]}}</a> <span class="badge">{{info[1]|int}}</span>
        {% endfor %}
      </p>
    </div>
  </div >

</div>

<script type="text/javascript">

// called by returned JS
function updateFilteredInfo(domain, storyCount){
  $('#mcFilteredInfo').html("We know about "+storyCount+" articles from "+domain);
}

// update results based on domain user chooses
function updateFilterResults(domain){
  $('#mcFilteredResults').hide();
  $('#mcFilteredInfo').empty();
  $('#mcFilteredWordCounts').empty();
  $('#mcFilteredReadability').empty();
  $.ajax({
    type: "GET",
    url:"/"+domain+"/info",
    dataType: 'script'
  });
}

// helper function to draw a standard histogram chart (called by returned JS from server)
function histogramChart(container, dataset, chartWidth, chartHeight, barWidth, maxXValue,barsToShow, maxY, xTickCount) {
  var y = d3.scale.linear()
       .domain([0, maxY])
       .range([0, chartHeight]);
  var x = d3.scale.linear()
       .domain([0,maxXValue])
       .range([0, chartWidth]);
  var chart = d3.select(container).append("svg")
       .attr("class", "chart")
       .attr("width", barWidth*barsToShow+50)
       .attr("height", chartHeight+25)
       .append("g")
       .attr("transform", "translate(10,0)");
  chart.selectAll("rect")
       .data(dataset)
       .enter().append("rect")
       .attr("x", function(d,i) { return i*barWidth; })
       .attr("y", function(d) {return chartHeight - y(d);} )
       .attr("height", y)
       .attr("width", barWidth);
  chart.selectAll(".rule")
       .data(x.ticks(xTickCount))
       .enter().append("text")
       .attr("class", "rule")
       .attr("x", x)
       .attr("y", chartHeight)
       .attr("dy", 15)
       .attr("text-anchor", "middle")
       .text(String);
  chart.append("line")
       .attr("x1", 0)
       .attr("x2", chartWidth)
       .attr("y1", chartHeight)
       .attr("y2", chartHeight)
       .style("stroke", "#666");
}

</script>

<script type="text/javascript" src="/static/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/d3.v2.min.js"></script>

<script type="text/javascript">
// stuff to run once the page loads
$(function(){
  // load up the aggregate charts
  $.ajax({
      type: "GET",
      url:"/all_domains/info",
      dataType: 'script'
    });
  // set up to fire ajax request when user filters by news source
  $('#mcPickDomain').typeahead({
      source: {{source_domains_json|safe}},
      updater: function(item){
          updateFilterResults(item);
      }
  });
});
</script>

</body>

</html>
