# Ignore everything (because this directory might contain a lot of .gz files representing individually stored downloads)
*

# But not these files...
!archive
!cache
!content
!media_and_feed_list
!tagger
!.gitignore

