[% title = 'Add Tags' -%]
[% INCLUDE include/header.tt2 %]

<fieldset>

<p><b>Select tags below to add to the following media:</b></p>

[% FOREACH medium IN media -%]

[% medium.name | html -%]<br />

[% END #[% FOREACH medium IN media -%]

</fieldset>
<p />

[% form.render %]
  
[% INCLUDE include/footer.tt2 %]