version: "3.7"

services:

    nytlabels-fetch-annotation-and-tag:
        image: gcr.io/mcback/nytlabels-fetch-annotation-and-tag:latest
        init: true
        stop_signal: SIGKILL
        environment:
          MC_NYTLABELS_VERSION_TAG: "nyt_labeller_v1.0.0"
          MC_NYTLABELS_TAG_SET: "nyt_labels"
        volumes:
            - type: bind
              source: ./bin/
              target: /opt/mediacloud/bin/
            - type: bind
              source: ./src/
              target: /opt/mediacloud/src/nytlabels-fetch-annotation-and-tag/
            - type: bind
              source: ./tests/
              target: /opt/mediacloud/tests/
            - type: bind
              source: ./../common/src/
              target: /opt/mediacloud/src/common/
        depends_on:
            - postgresql-pgbouncer

    postgresql-pgbouncer:
        image: gcr.io/mcback/postgresql-pgbouncer:latest
        init: true
        stop_signal: SIGKILL
        expose:
            - 6432
        volumes:
            - type: bind
              source: ./../postgresql-pgbouncer/conf/
              target: /etc/pgbouncer/
        depends_on:
            - postgresql-server

    postgresql-server:
        image: gcr.io/mcback/postgresql-server:latest
        init: true
        stop_signal: SIGKILL
        expose:
            - 5432
        volumes:
            - type: bind
              source: ./../postgresql-server/bin/
              target: /opt/mediacloud/bin/
            - type: bind
              source: ./../postgresql-server/pgmigrate/
              target: /opt/mediacloud/pgmigrate/
            - type: bind
              source: ./../postgresql-base/conf/
              target: /etc/postgresql/13/main/
