[% title = 'List of All Media Sources' %]
[% INCLUDE dashboard/header.tt2 %]

<ul>

[% FOREACH medium IN media %]
<li><a href="[% medium.dashboard_url %]">[% medium.name | html %]</a></li>
[% END #[% FOREACH medium IN media %]

</ul>

[% INCLUDE dashboard/footer.tt2 %]
