<html>
<head>
[% INCLUDE 'zoe_website_template/third_party_libs.tt2' %]

<style>
.view_article
{
    color: #32588F;
    text-decoration: none;
    font-weight: bold; 
}
</style>
</head>

<body>
<script language="javascript" type="text/javascript">

   $(document).ready(function() 
    {
      //$('#source_sentence_content ul.filetree').treeview({
      //        animated: "slow", 
      //        collapsed: true
      //        /* control: "#toggle_tree_" + source_num */
      //     });

      $('#media_source_percent_table td').click( function() {
           var $this = $(this);
           var id = $this.attr('id');
           $('#source_sentence_content div').hide();
           $('#media_source_percent_table td').css('backgroundColor', '');
           var source_num = id.replace(/Select$/, '').replace(/^Source/, '');
           var target_id = 'Source' + source_num;

           //alert(source_num + '--' + target_id);

           var source_content =  $('#' + target_id);
           source_content.show();
           //alert(source_content.html());
           $this.css('backgroundColor', '#E4E4E4');

           var json_url  = $('#json_stories_url_' + source_num).attr('href');

           $('#source_sentences_' + source_num).children().remove();
           $('#source_sentences_' + source_num).text('loading...').show();
           
           //alert(json_url);

           var jqxhr = 
           $.getJSON(json_url, function(data) {
              //alert('dfdf');
              $('#source_sentences_' + source_num).text('loaded...').show();
              var stories_ul = $("<ul class='filetree'/>");
             $.each(data, function(index, story) {
                     //alert(value.title);
                     var story_li = $("<li class='collapsable'>");
                     story_li.append($("<b></b>").text(story.title)).append(' ').
                     append($("<span class='date'>").text(story.publish_date)).append(' ').
                     append($(" <a class='view_article'>view&nbsp;article</a>").attr({ 'href': story.url, target: '_blank' } )).
                     append($("</br>"));
                     var sentences_ul = $("<ul/>");

                     var sentences_div = $("<div/>");

                     sentences_ul.append(sentences_div);
                     sentences_div.css('background-color', '#F5F4F4');
                     sentences_ul.css('padding-right', '15px');
                     sentences_div.css('padding-right', '20px');

                     $.each(story.sentences, function(index, sentence_object) {
                         sentences_div.append($("<li/>").text(sentence_object.sentence)).append($("<br/>"));
                     }) ;

                     story_li.append(sentences_ul);
                     stories_ul.append(story_li);
                     sentences_ul.css('background-color', '#e4e4e4');
                   } );
              stories_ul.treeview({
               animated: "slow", 
               collapsed: false
               /* control: "#toggle_tree_" + source_num */
              }); 
              $('#source_sentences_' + source_num).html('');
              $('#source_sentences_' + source_num).append(stories_ul);
             // alert('clicking...');

              if (window.parent.document) {
              var cright = $("#sentence_frame", window.parent.document);
      
              cright.each(function() {
                var newHeight = this.contentWindow.document.body.offsetHeight;
                //$('#click_me').text('New height: ' + newHeight);
                this.style.height = newHeight + 'px';
                });

               }

            }).error(function(jqXHR, textStatus, errorThrown) {
                $('#source_sentences_' + source_num).text('Error loading sentences: ' + textStatus + '...') 
                 }
            );  //end getJSON

           if ( 0 && ! $('#stories' + source_num).data('has_treeview') )
           { 
              $('#stories' + source_num).data('has_treeview', true);
              $('#stories' + source_num).treeview({
               animated: "slow", 
               collapsed: false
               /* control: "#toggle_tree_" + source_num */
           });
          }

      })

      //alert('foo');
      $('#Source1Select').click();

   }); 
</script>
           <div id = "TSarea">
              <em>Sentences [% queries_description %] &gt; Term: '[% term | html %]'</em><br />
              <br />
              
              <table width="880" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="right" valign="top">
                  
                  <table id="media_source_percent_table" width="100%" border="0" cellspacing="0" cellpadding="5">
[% i = 1 %]
[% FOREACH medium IN media %]
                    <tr>
                      <td align="right" valign="top" id = "Source[% i %]Select"><span style="cursor:pointer">[% medium.name | html %]: [% medium.stem_percentage * 100 | format( "%.3f%%" ) | html %]</span></td>
                    </tr>
[% i = i + 1 %]
[% END %]
  </table> 
                                     </td>
                  <td width="70%" id="source_sentence_content"
 align="right" valign="top" bgcolor="#E4E4E4">
[% i = 1 %]
[% FOREACH medium IN media %]
                  <div id = "Source[% i %]"><strong>[% medium.name | html %]</strong><br />
<br />
    <a id="json_stories_url_[% i %]" 
       href="[% c.uri_for('/dashboard/sentences_medium_json',dashboard.dashboards_id, { media_id => medium.media_id, stem => stem, queries_ids => queries_ids}) %]" ></a>
 <div id="source_sentences_[% i %]">foo
  <ul id='stories[% i %]' class='filetree'>
    [% FOREACH story IN medium.stories %]
    <li class='collapsable'>
      <b>[% story.title | html %]</b>
        <span class='date'>[% story.publish_date %] <span id="toggle_tree_[% i %]">(expand/collapse)</span></span>[<a href="[% story.url %]">View Article</a>]<br /> <br />
      <ul id='sentences'>
        [% FOREACH sentence IN story.sentences %]
        <li>[% sentence.sentence | html %]</li>
	<br/>
        [% END %]
      </ul>
    </li>
    [% END %]
  </ul>
 </div>
<br />
</div>
[% i = i + 1 %]
[% END %]
                  </td>
                </tr>
            
              </table>

            </div>
</body>
</html>
