<html>
<head>
[% INCLUDE 'zoe_website_template/third_party_libs.tt2' %]

<style>
.view_article
{
    color: #32588F;
    text-decoration: none;
    font-weight: bold; 
}
</style>
</head>

<body>
<script language="javascript" type="text/javascript">

   $(document).ready(function() 
    {
   });
</script>
<p>
Sorry, we are under very high load right now and can't load sentences.</p>
<p> Please try again later.</p>
<br/>
</body>
</html>
