div.inline {
  position: relative;
  display: inline-block;
  width: 49%;
  height: 400px;
  vertical-align: top;
}

div.inline.left {
  margin-right: 0.5%;
}

div.inline.right, div#vis {
  border: silver solid 1px;
  padding: 0px;
  margin-bottom: 1em;
}

span.cluster_color {
  display: inline-block;
  border: silver solid 1px;
  width: 25px;
  height: 25px;
  background-color: black;
}

table#stats
{
  margin-top: 1em;
}