# Don't send no email
MAILTO=""

# m h dom mon dow user          command

# Daily:
34  4 *   *   *   root          sudo -u mediacloud /opt/mediacloud/bin/cron_generate_user_summary.pl 1> /proc/1/fd/1 2> /proc/1/fd/2

# Weekly:
22  5 *   *   sun root          sudo -u mediacloud /opt/mediacloud/bin/cron_generate_user_summary.pl --new 7 --activity 7 1> /proc/1/fd/1 2> /proc/1/fd/2
