[% INCLUDE 'include/auth/header.tt2' title = 'Profile Login' %]

[% form.render %]

<p>
<br />
<a href="[% c.uri_for( '/login/register' ) %]">Register</a> |
<a href="[% c.uri_for( '/login/forgot' ) %]">Recover Lost Password</a>
</p>

[% INCLUDE 'include/auth/footer.tt2' %]
