[% title = 'Merge Media Sources Confirmation' %]
[% INCLUDE include/header.tt2 %]

<fieldset>
<p>
Are you sure you want to merge the tags of [% medium_a.name %] into [% medium_b.name %] and delete [% medium_a.name %] entirely?

<form action="[% c.uri_for('/media/merge/') _ medium_a.media_id _ '/' _ medium_b.media_id _ '/' _ 'yes' %]">
<input type="submit" value="Merge and Delete" />
</form>

</fieldset>
 
[% INCLUDE include/footer.tt2 %]