# Retry HTTP requests
backoff==1.4.3

# Unit test coverage
coverage==4.4.2

# Guessing publication dates of stories
date_guesser==2.1.1

# Code conventions
flake8==3.5.0

# Network analysis, used for graph layout
networkx==1.11

# Natural language processing, e.g. tokenization
nltk==3.2.4

# Numerical processing, required by ForceAtlas2
numpy==1.13.1

# Date parsing
python-dateutil==2.6.1

# Timezone handling
pytz==2017.2

# Configuration file
pyyaml==3.12

# Unit tests
pytest==3.2.2

# Test coverage
pytest-cov==2.5.1

# Mocking HTTP requests
responses==0.8.1

# Asynchronous (parallell / concurrent) HTTP requests
requests-futures==0.9.7

# Math package for forceatlas implementation
scipy==0.19.1

# Python 3-compatible version of Google re2 library (requires libre2-dev system package)
sw-re2==0.2.23

# Twitter
tweepy==3.5.0
