# Deployments
ansible==2.7.8

# Saner date / time management
arrow==0.13.0

# retry http requests
backoff==1.8.0

# Amazon S3
boto3==1.9.78

# HTML parsing
beautifulsoup4==4.7.1

# Python 3.7 upgrade
CacheMan==2.1.0

# Job broker
Celery==4.2.1

# Language identification
cld2-cffi==0.1.4

# Colorful sentence diffs in unit tests
colorama==0.4.1

# Unit test coverage
coverage==4.5.2

# Some modules require latest version of this
cryptography==2.4.2

# Hindi stemming
CyHunspell==1.3.0

# Guessing publication dates of stories
date_guesser==2.1.4

# Code conventions
flake8==3.6.0

# URL manipulation
furl==2.0.0

# Word2vec topic models
gensim==3.6.0

# Stemming Hausa words
hausastemmer==1.0

# socket level http mocking
httpretty==0.9.6

# Chinese language tokenizer, stemmer, etc.
jieba==0.39

# Parsing email templates
Jinja2==2.10.1

# XML manipulations, HTML parsing
lxml==4.3.0

# Japanese language tokenizer, stemmer, etc.
mecab-python3==0.996.1

# network analysis, used for graph layout
networkx==2.2

# Natural language processing, e.g. tokenization
nltk==3.4

# numerical processing, required by ForceAtlas2
numpy==1.16.0

# Finding out which Readability version we're using
pip==18.1

# PostgreSQL access
psycopg2-binary==2.7.6.1

# Python 3.7 upgrade
pycodestyle==2.4.0

# Python 3.7 upgrade
pyflakes==2.0.0

# Snowball stemmer (NLTK's implementation doesn't support Turkish)
PyStemmer==1.3.0

# Unit tests
pytest==3.8.0

# Test coverage
pytest-cov==2.6.0

# Date parsing
python-dateutil==2.7.5

# Timezone handling
pytz==2018.9

# Configuration file
PyYAML==4.2b2

# Python 3 compatible version of Google's re2 library (requires libre2-dev system package)
# (untagged and unreleased 0.2.23 version which builds on Python 3.7)
-e git+https://github.com/andreasvc/pyre2.git@3e01eba6ba3eabd1359ef5e16c938c8866deea70#egg=re2

# Extracting text from stories
readability-lxml==0.7

# Python 3.7 upgrade
regex==2018.11.22

# Mocking HTTP requests
responses==0.10.5

# Making HTTP requests
requests==2.21.0

# Asynchronous (parallell / concurrent) HTTP requests
requests-futures==0.9.9

# math package for forceatlas implementation
scipy==1.2.0

# Splitting text into sentences using Lingua::Sentence's method
sentence_splitter==1.3

# Useful for timing out tests for which the failure case is a hard hang that does not respond to signals
timeout_decorator==0.4.1

# Twitter API client
tweepy==3.7.0

# Fetching and parsing website sitemap trees
ultimate_sitemap_parser==0.5

# Normalizing URLs
url_normalize==1.4.1

# Low level HTTP requests (with SSL certificate verification)
urllib3[secure]==1.24.2

# xml as dicts
xmltodict==0.12.0
