# Amazon S3
boto3==1.4.7

# Job broker
Celery==4.1.1

# Language identification
cld2-cffi==0.1.4

# some modules require latest version of this
cryptography==2.2.2

# Hindi stemming
CyHunspell==1.2.1

# Stemming Hausa words
hausastemmer==1.0

# URL manipulation
furl==1.0.1

# Parsing email templates
Jinja2==2.9.6

# XML manipulations, HTML parsing
lxml==4.1.0

# Japanese language tokenizer, stemmer, etc.
mecab-python3==0.7

# PostgreSQL
psycopg2==2.7.3

# Snowball stemmer (NLTK's implementation doesn't support Turkish)
PyStemmer==1.3.0

# Making HTTP requests
requests==2.18.4

# Splitting text into sentences using Lingua::Sentence's method
sentence_splitter==1.2

# Normalizing URLs
url_normalize==1.3.3

# Low level HTTP requests (with SSL certificate verification)
urllib3[secure]==1.22
