# Amazon S3
boto3==1.4.7

# URL manipulation
furl==1.0.1

# XML manipulations, HTML parsing
lxml==4.1.0

# PostgreSQL
psycopg2==2.7.3

# Unit tests
pytest==3.2.2

# Test coverage
pytest-cov==2.5.1

# Making HTTP requests
requests==2.18.4

# Normalizing URLs
url_normalize==1.3.3

# Low level HTTP requests (with SSL certificate verification)
urllib3[secure]==1.22
