# Network analysis, used for graph layout
networkx==2.5

# python notebooks
jupyter==1.0.0

# force atlas 2 layouts
fa2==0.3.5

# plotting
matplotlib==3.3.3

# gsoc mc fa2 implementation
mediaviz==0.1.2
